{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/hamburger.css'%}">
    <link rel="icon" href="{%static 'img/logo-gold.gif'%}">

    <title>Battle of Bands | Pravega 2019, IISc Bangalore</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400|Overlock+SC|Roboto:400" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/eventdetails.css'%}">
{% endblock %}

{% block content %}
    <div id="main">
        <div class="heading">Battle of Bands</div>
        <div class="horizontal-line"></div>
        <div class="main-section">
            <p>
                Battle of the Bands is the annual band competition of Pravega.
            </p>
            <p>
                The event will comprise of two primary levels followed by the finals which will be held at IISc during Pravega:
            </p>
    </div>
        <div class="main-section">
            <div class="section-heading">Preliminaries</div>
            <div class="horizontal-line"></div>
            <div class="section-subheading">1<sup>st</sup> Round</div>
            <p>
                In the first round of preliminaries, the bands should send in their content as YouTube/Soundcloud links at the time of registration. The registration portal will close on 15th October.
            </p>
            <div class="section-subheading">2<sup>nd</sup> Round</div>
            <p>
                The 2nd round of preliminaries will be held live in the following cities- Bangalore, Chennai, Kochi, Mumbai, Hyderabad.
            </p>
            <p>
                6 teams selected from each region from the 1st Prelims pool will participate in the 2nd Prelims which will be held at pubs, jam pads and studios in the cities mentioned above tentatively in the months of October and November.
            </p>
            <p>
                The winners from each region will participate in the Pravega finals. The finale winners receive a generous cash prize.
            </p>

        </div>
        <div class="main-section">
            <div class="section-heading">General Rules of the Event:</div>
            <div class="horizontal-line"></div>
            <ul>
                <li>	In the preliminaries, the performances (including set-up time) should not exceed a duration of 30 minutes. </li>
                <li>	In the finals, the maximum duration of performance can be 45 minutes (inclusive of a 5 minutes set-up time).</li>
                <li>	Teams exceeding the stipulated time limit will be penalized and those crossing 10 minutes extra time will be disqualified.</li>
            </ul>
        </div>
        <div class="main-section">
            <div class="section-heading">Registration</div>
            <div class="horizontal-line"></div>
                <p>
                    Registrations will be accepted online through the website prior to the event. No spot registrations are allowed.
                </p>
        </div>









    </div>

    <script src="{%static 'js/navBar.js'%}"> </script>
{% endblock %}
