{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/hamburger.css'%}">
    <link rel="icon" href="{%static 'img/logo-gold.svg'%}">

    <title>Pravega 2019 - IISc's Annual Fest</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Overlock+SC|Raleway:300,400|Dosis:300,400,700,800|Abel" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/contact.css'%}">
{% endblock %}

{% block content %}
<div id = "main">
    <div class = "top">
        <h1>CONTACT</h1>
        <p id = "request">Please feel free to contact us</p>
    </div>
    <div class = "contact-container">
        <div class = "contact-detail">
            <p>Praveen Jayakumar</p>
            <p class = "designation">Sponsorship and Corporate Relations</p>
            <a href="mailto:jpraveen@iisc.ac.in"><p class = "email">jpraveen@iisc.ac.in</p></a>
        </div>
        <div id='cc' class = "contact-detail">
            <p>Shrey Gupta</p>
            <p class = "designation">Convener</p>
            <a href="mailto:shreygupta@iisc.ac.in"><p class = "email">shreygupta@iisc.ac.in</p></a>
        </div>
        <div class = "contact-detail">
            <p>Name</p>
            <p class = "designation">designation</p>
            <a href="mailto:"><p class = "email">email-address</p></a>
        </div>
        <div class = "contact-detail">
            <p>Arpit Behera</p>
            <p class = "designation">designation</p>
            <a href="mailto:arpitbehera@iisc.ac.in"><p class = "email">arpitbehera@iisc.ac.in</p></a>
        </div>
        <div class = "contact-detail">
            <p>Ansh Kuhikar</p>
            <p class = "designation">designation</p>
            <a href="mailto:anshkuhikar@iisc.ac.in"><p class = "email">anshkuhikar@iisc.ac.in</p></a>
        </div>
        <div class = "contact-detail">
            <p>Name</p>
            <p class = "designation">designation</p>
            <a href="mailto:"><p class = "email">email-address</p></a>
        </div>
    </div>
</div>

    <script>
        var navBar = document.getElementById("navBar");
        var navMobile = document.getElementById('navBarMobile');
        var homeNav = document.getElementById("homeNav");
        var ham = document.getElementById('hamburgerButton');
        var navDisplay = false;     //whether or not nav menu is displayed on mobile
        var navSets = document.getElementsByClassName("navLinkSet");

        window.onresize = function(){
            toggleNavMobile(false);
            if(document.documentElement.clientWidth >= 760){

                navSets[0].style.flex = "4 0 0";
                navSets[1].style.flex = "1 0 0";
                navSets[2].style.flex = "4 0 0";
                navBar.style.top = "0";
            }
            else{
                navSets[0].style.flex =  "1 0 100%";
                navSets[1].style.flex =  "1 0 100%";
                navSets[2].style.flex =  "1 0 100%";
            }
        };

        window.onload = function(){
            toggleNavMobile(false);
            if(document.documentElement.clientWidth >= 760){

                navSets[0].style.flex = "4 0 0";
                navSets[1].style.flex = "1 0 0";
                navSets[2].style.flex = "4 0 0";
                navBar.style.top = "0";
            }
            else{
                navSets[0].style.flex =  "1 0 100%";
                navSets[1].style.flex =  "1 0 100%";
                navSets[2].style.flex =  "1 0 100%";
            }
        };

        function toggleNavMobile(disp){         //shows nav menu for mobile if argument is true, otherwise hides

            if(!disp){
                navMobile.style.borderBottom = "#ffee9c solid 1px";
                navBar.style.top = "-280px";
                ham.classList.remove('is-active');
                homeNav.style.opacity= "0";
            }
            else{
                navMobile.style.borderBottom = "#000000 solid 1px";
                navBar.style.top = "44px";
                ham.classList.add('is-active');
                homeNav.style.opacity= "1";
            }
            navDisplay = !navDisplay;
        }

        ham.addEventListener("click", function() {
            toggleNavMobile(!navDisplay);
            }, true);

    </script>
{% endblock %}
