{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/hamburger.css'%}">
    <link rel="icon" href="{%static 'img/logo-gold.gif'%}">

    <title>Decoherence Prelims Result | Pravega 2019, IISc Bangalore</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400|Overlock+SC|Fira+Sans+Condensed:400,400i,600,600i" rel="stylesheet">

{% endblock %}

{% block content %}
    <div id="main">
            <style type="text/css">
            #main{
                margin: 60px 0 14px 0;
            }
            @media(min-width:760px){
                #main{
                    margin: 120px 0 14px 0;
                }
            }
            .tg  {border-collapse:collapse;border-spacing:0;border-color:#aaa;margin:auto;}
            .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:rgb(255,255,240);background-color:rgb(30,30,30);}
            .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#555;color:#000;background-color:#ffed6d}
            .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
            .tg .tg-dg7a{background-color:rgb(8,8,8);text-align:left;vertical-align:top}
            .tg .tg-0lax{text-align:left;vertical-align:top}
            </style>
            <h2 style="text-align:center;font-family: 'Titillium Web', sans-serif; font-weight: 400; font-size: 22px; text-decoration: underline;">Decoherence Prelims Result</h2>
            <table class="tg">
              <tr>
                <th class="tg-amwm">Team Name</th>
                <th class="tg-amwm">Participant 1</th>
                <th class="tg-amwm">Participant 2</th>
                <th class="tg-amwm">Institute</th>
                <th class="tg-amwm">City</th>
              </tr>
              <tr>
                <td class="tg-dg7a">Isospin</td>
                <td class="tg-dg7a">Kartik Patekar</td>
                <td class="tg-dg7a">Abhisek Sahu</td>
                <td class="tg-dg7a">IIT Bombay</td>
                <td class="tg-dg7a">Mumbai</td>
              </tr>
              <tr>
                <td class="tg-0lax">Team bosons</td>
                <td class="tg-0lax">Kamal Gurnani</td>
                <td class="tg-0lax">Priyansh Shah</td>
                <td class="tg-0lax">IIT Kharagpur</td>
                <td class="tg-0lax">Kharagpur</td>
              </tr>
              <tr>
                <td class="tg-dg7a">Team Alpha</td>
                <td class="tg-dg7a">Rishabh Verma</td>
                <td class="tg-dg7a">Shriraj Hegde</td>
                <td class="tg-dg7a">UM-DAE CBS Mumbai</td>
                <td class="tg-dg7a">Mumbai</td>
              </tr>
              <tr>
                <td class="tg-0lax">The Boltz</td>
                <td class="tg-0lax">Vijay Chakravarty</td>
                <td class="tg-0lax">Sanika Prakash Goray</td>
                <td class="tg-0lax">IISER Bhopal</td>
                <td class="tg-0lax">Bhopal</td>
              </tr>
              <tr>
                <td class="tg-dg7a">Team RS</td>
                <td class="tg-dg7a">Sayan Kr. Das</td>
                <td class="tg-dg7a">Rahul Bhowmick</td>
                <td class="tg-dg7a">IISER Kolkata</td>
                <td class="tg-dg7a">Kolkata</td>
              </tr>
              <tr>
                <td class="tg-0lax">BITS Pilani</td>
                <td class="tg-0lax">Rahul Shinde</td>
                <td class="tg-0lax">Nishchay Vora</td>
                <td class="tg-0lax">BITS Pilani, Pilani Campus</td>
                <td class="tg-0lax">Pilani</td>
              </tr>
              <tr>
                <td class="tg-dg7a">Variables</td>
                <td class="tg-dg7a">Sohom Majumdar</td>
                <td class="tg-dg7a">Soubhik Das</td>
                <td class="tg-dg7a">IIEST Shibpur</td>
                <td class="tg-dg7a">Howrah</td>
              </tr>
              <tr>
                <td class="tg-0lax">Jatt Da Muqabla</td>
                <td class="tg-0lax">Arshpreet Singh Maan</td>
                <td class="tg-0lax">Paras Verma</td>
                <td class="tg-0lax">SGTB Khalsa College</td>
                <td class="tg-0lax">New Delhi</td>
              </tr>
              <tr>
                <td class="tg-dg7a">Shunya</td>
                <td class="tg-dg7a">Harmanjot Singh Grewal</td>
                <td class="tg-dg7a">Lavinder Kaur</td>
                <td class="tg-dg7a">IIT Kharagpur</td>
                <td class="tg-dg7a">Kharagpur</td>
              </tr>
              <tr>
                <td class="tg-0lax">Sparks</td>
                <td class="tg-0lax">Tushar Joshi</td>
                <td class="tg-0lax">Lakshya Agarwal</td>
                <td class="tg-0lax">SGTB Khalsa College</td>
                <td class="tg-0lax">New Delhi</td>
              </tr>
              <tr>
                <td class="tg-dg7a">Boson</td>
                <td class="tg-dg7a">Aranya Kumar Bal</td>
                <td class="tg-dg7a">Gahin Maiti</td>
                <td class="tg-dg7a">ISI Bangalore</td>
                <td class="tg-dg7a">Bangalore</td>
              </tr>
              <tr>
                <td class="tg-0lax">BOSE.X</td>
                <td class="tg-0lax">Shashwat Singh</td>
                <td class="tg-0lax">Ananyo Bhattacharya</td>
                <td class="tg-0lax">SVNIT Surat</td>
                <td class="tg-0lax">Surat</td>
              </tr>
              <tr>
                <td class="tg-dg7a">Quirky Quarks</td>
                <td class="tg-dg7a">Vyom Kulkarni</td>
                <td class="tg-dg7a">Shreya Pandit</td>
                <td class="tg-dg7a">IISER Bhopal</td>
                <td class="tg-dg7a">Bhopal</td>
              </tr>
              <tr>
                <td class="tg-0lax">ALPHA</td>
                <td class="tg-0lax">Narayan Sabhahit</td>
                <td class="tg-0lax">Fazal A Kareem</td>
                <td class="tg-0lax">IISER Kolkata</td>
                <td class="tg-0lax">Kalyani</td>
              </tr>
              <tr>
                <td class="tg-dg7a">AlphaQ</td>
                <td class="tg-dg7a">Chetan Pandey</td>
                <td class="tg-dg7a">Aditya Kolhatkar</td>
                <td class="tg-dg7a">IISER Pune</td>
                <td class="tg-dg7a">Pune</td>
              </tr>
            </table>
    </div>
    <script src="{%static 'js/navBar.js'%}"> </script>
{%endblock %}
