{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/hamburger.css'%}">
    <link rel="icon" href="{%static 'img/logo-gold.gif'%}">

    <title>Decoherence | Pravega 2019, IISc Bangalore</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400|Overlock+SC|Fira+Sans+Condensed:400,400i,600,600i" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/eventdetails.css'%}">

	<link rel="stylesheet" href="{%static 'css/onepage-scroll.css'%}" />
	<link rel="stylesheet" href="{%static 'css/eventstyle.css'%}" />
	<script src="{%static 'js/jquery.js'%}" rel="text/javascript" ></script>
	<script src="{%static 'js/jquery.onepage-scroll.js'%}" rel="text/javascript" ></script>
{% endblock %}

{% block content %}
<div id="main" class="main" >
		<section  style="background-color:rgba(8,8,8,0.5);">
		<div class="slide">

        <div class="heading">Decoherence</div>
        <div class="horizontal-line"></div>
        <div class="main-section">

            <p>
                Pravega brings to you, a one-of-a-kind National Physics competition where participants will be challenged to decode hitherto unexplained phenomena, formulate theories and experimentally verify their predictions. Experience the thrill of discovery of real research with 24-hour lab access, performing experiments and proving your theories
            </p>
            <p>Prelims will be conducted online on <b>18th November, 10:30 AM to 12:30 PM</b>. See the rules for the prelims <em><a style="color:inherit;text-decoration:underline;" href="{% static "docs/Decoherence_Prelims_Rules_Pravega2019.pdf"%}">here</a></em>.</p>
            <div class="event-essentials">
                <a href="{% url 'decoherencePrelims' %}"><div class="yellow-status"><!-- &#10010; -->  Participate Now</div></a>
            </div>
		</div>
		</div>
		</section >
        <section  style="background-color:rgba(8,8,8,0.5);">
		<div class="slide">
        <div class="main-section">
            <div class="section-heading">How Do I Get There?</div>
            <div class="horizontal-line"></div>
            <p>
                Students in the first three years of an undergrad course are eligible to participate in teams of two.
            </p>
            <p>
               Prelims will be conducted online on <b>18th November, 10:30 AM to 12:30 PM</b>. Registration is free.  See the rules for the prelims <em><a style="color:inherit;text-decoration:underline;" href="{% static "docs/Decoherence_Prelims_Rules_Pravega2019.pdf"%}">here</a></em>.
            </p>
            <p>
              You'll have to answer objective and subjective questions.
            </p>
            <p>
              Results will be out in around a fortnight announcing the 15 teams that will get a chance to come to the Indian Institute of Science! Upto Rs 1000 will be reimbursed to each person for their travel.
            </p>
			</div>
        </div>

		</section  >
			<section style="background-color:rgba(8,8,8,0.5);">
		<div class="slide">
        <div class="main-section">
            <div class="section-heading">What Next?</div>
            <div class="horizontal-line"></div>

            <!--<p>
                Travel allowance and proper accommodation for the duration of the event will be provided for the finalists.
            </p>-->
            <p>
                They will be given 5 experimental questions, to solve which they'll be given access to 24 hours in a lab to submit a report of their work.
            </p>
            <p>
              5 best teams will move on to the brain boxing session where they will have to present their findings to the judges in the form of a presentation and provide constructive criticism on the other teams' work.
            </p>

        </div>
		</div>
		</section >
		<section  style="background-color:rgba(8,8,8,0.5);">
		<div class="slide">
        <div class="main-section">
            <div class="section-heading">Any Questions?</div>
            <div class="horizontal-line"></div>

            <p>
              Contact our Decoherence Coordinator, Kaarthik Varma
            </p>
            <p>
              kaarthikv@iisc.ac.in
            </p>


			</div>
        </div>

		</section >


		<section style="background-color:rgba(8,8,8,0.5);">

		<!--The id "last" is imoprtant to handle the footer during reizes-->
		<div class="slide" id="last">
        <div class="main-section">
            <div class="section-heading">Registration</div>
            <div class="horizontal-line"></div>
                <p>
                    Registrations will be accepted online through the website prior to the event. No spot registrations are allowed.
                </p>
				<div class="event-essentials">
                    <a href="{% url 'decoherencePrelims' %}"><div class="yellow-status"><!-- &#10010; --> Participate Now</div></a>
                </div>
        </div>

		</div>
		<div id="footer-id">



{% endblock %}

{%block postfooter %}
		</div>
		</section>
</div>
<script src="{%static 'js/navBar.js'%}"> </script>
<script src="{%static 'js/slideScroll.js'%}"></script>
{%endblock %}
