{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css">
    <script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.js"></script>
    <noscript>
        <style>
        [data-simplebar] {
            overflow: auto;
        }
        </style>
    </noscript>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{%static 'js/jquery.actual.min.js'%}"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/hamburger.css'%}">
    <link rel="icon" href="{%static 'img/logo-gold.gif'%}">

    <title>Events | Pravega 2019, IISc Bangalore</title>
    <link href="https://fonts.googleapis.com/css?family=Overlock+SC|Voces|Cinzel+Decorative:400,700|Coda|Salsa" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/events_v2_2.css'%}">


{% endblock %}

{% block content %}
  <div class="main">
    <div id="categories">
      <section class="main-category" id="category1">
        <div class="category-display">
            <div class="category-display-content">
                <div class="category-display-content-1">
                    <img class="category-logo" src="{%static 'img/events/pis_logo.png'%}" alt="pravega innovation summit" />
                    <h2>P.I.S.</h2>
                </div>
                <div class="category-display-content-2">
                    <p class="category_text"> Scientific growth and innovation</p>
                </div>
            </div>
        </div>
        <div class="category-content">
            <div data-simplebar class="category-content-contents">
                <div class="category-allContent">
                  <h3 class="subcategory_title">P.I.S.</h3>
                    <div class="events-container">
                        <div class="event-area">
                            <h4 class="event_title">Pravega Innovation Summit</h4>
                            <img class="event_logo" src="{%static 'img/events/pis_logo.png'%}" alt="pravega innovation summit" />
                            <p class="event_text">Bringing together the pillars of scientific growth and innovation.</p>
                            <a href="{%url 'pis'%}"><div class="seeMore"> See More </div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="closeButton" onclick=closeAllCategories();>&times;</button>
      </section>
      <section class="main-category" id="category2">
        <div class="category-display">
            <div class="category-display-content">
                <div class="category-display-content-1">
                    <img class="category-logo" src="{%static 'img/events/technical_logo.png'%}" alt="technical" />
                    <h2>TECHNICAL</h2>
                </div>
                <div class="category-display-content-2">
                    <p class="category_text">Technical Events and Workshops</p>
                </div>
            </div>
        </div>
        <div class="category-content">
            <div data-simplebar class="category-content-contents">
                <div class="category-allContent">
                  <h3 class="subcategory_title">Technical</h3>
                    <div class="events-container">
                        <div class="event-area">
                            <h4 class="event_title">IBM Hackathon</h4>
                            <img class="event_logo" src="{%static 'img/events/ibm-hackathon_logo.png'%}" alt="ibm hackathon" />
                            <p class="event_text">Align your problem solving and coding skills to tackle the given situation</p>
                            <a href="{%url 'ibm_hackathon'%}"><div class="seeMore"> See More </div></a>
                        </div>
                        <div class="event-area">
                            <h4 class="event_title">Workshops</h4>
                            <img class="event_logo" src="{%static 'img/events/workshops_logo.png'%}" alt="workshops" />
                            <p class="event_text">Update your technical knowledge</p>
                            <a href="{%url 'workshops'%}"><div class="seeMore"> See More </div></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <button class="closeButton" onclick=closeAllCategories();>&times;</button>
      </section>
      <section class="main-category" id="category3">
        <div class="category-display">
            <div class="category-display-content">
                <div class="category-display-content-1">
                    <img class="category-logo" src="{%static 'img/events/science_logo.png'%}" alt="science" />
                    <h2>SCIENCE</h2>
                </div>
                <div class="category-display-content-2">
                    <p class="category_text">Physics, Chemistry, Mathematics, Biology, Linguistics</p>
                </div>
            </div>
        </div>
        <div class="category-content">
            <div data-simplebar class="category-content-contents">
                <div class="category-allContent">
                  <h3 class="subcategory_title">Sciences</h3>
                    <div class="events-container">
                        <div class="event-area">
                            <h4 class="event_title">BASE Inter-school Science Competition</h4>
                            <img class="event_logo" src="{%static 'img/events/interschool_logo.png'%}" alt="Inter School Event logo" />
                            <p class="event_text">Represent your school in a thinking-based science quiz!</p>
                            <a href="{%url 'interschool'%}"><div class="seeMore"> See More </div></a>
                        </div>
                        <div class="event-area">
                            <h4 class="event_title">Explain The Concept (ETC)</h4>
                            <img class="event_logo" src="{%static 'img/events/etc_logo.png'%}" alt="explain the concept logo" />
                            <p class="event_text">One-of-a-kind science communication event</p>
                            <a href="{%url 'etc'%}"><div class="seeMore"> See More </div></a>
                        </div>
                        <div class="event-area">
                            <h4 class="event_title">Science Journalism</h4>
                            <img class="event_logo" src="{%static 'img/events/science-journalism_logo.png'%}" alt="Science Journalism logo" />
                            <p class="event_text">Science Journalism among the school and college youth</p>
                            <a href="{%url 'sciencejournalism'%}"><div class="seeMore"> See More </div></a>
                        </div>

                        <div class="event-area">
                            <h4 class="event_title">Molecular Murals</h4>
                            <img class="event_logo" src="{%static 'img/events/molecular-murals_logo.png'%}" alt="Molecular Murals logo" />
                            <p class="event_text">A unique fusion of sciences and art</p>
                            <a href="{%url 'molecularmurals'%}"><div class="seeMore"> See More </div></a>
                        </div>
                        <div class="event-area">
                            <h4 class="event_title">Chemisticon</h4>
                            <img class="event_logo" src="{%static 'img/events/chemisticon_logo.png'%}" alt="Chemisticon logo" />
                            <p class="event_text">Testing the depth of your chemistry knowledge!</p>
                            <a href="{%url 'chemisticon'%}"><div class="seeMore"> See More </div></a>
                        </div>
                        <div class="event-area">
                            <h4 class="event_title">Whodunnit</h4>
                            <img class="event_logo" src="{%static 'img/events/whodunnit_logo.png'%}" alt="Whodunnit logo" />
                            <p class="event_text">Connect the dots and find the killer!!</p>
                            <a href="{%url 'whodunnit'%}"><div class="seeMore"> See More </div></a>
                        </div>
                    <!--  </div>
                    <h3 class="subcategory_title">Physics</h3>
                    <div class="events-container"> -->
                        <div class="event-area">
                            <h4 class="event_title">Decoherence</h4>
                            <img class="event_logo" src="{%static 'img/events/decoherence_logo.png'%}" alt="decoherence logo" />
                            <p class="event_text">Apply your knowledge in Physics</p>
                            <a href="{%url 'decoherence'%}"><div class="seeMore"> See More </div></a>
                        </div>
                    <!-- </div>
                    <<h3 class="subcategory_title">Linguistics</h3>
                    <div class="events-container"> -->
                        <div class="event-area">
                            <h4 class="event_title">In Other Words</h4>
                            <img class="event_logo" src="{%static 'img/events/inotherwords_logo.png'%}" alt="in other words logo" />
                            <p class="event_text">The Linguistic Puzzling Marathon</p>
                            <a href="{%url 'inotherwords'%}"><div class="seeMore"> See More </div></a>
                        </div>
                        <div class="event-area">
                            <h4 class="event_title">KryptoChase</h4>
                            <img class="event_logo" src="{%static 'img/events/kryptochase_logo.png'%}" alt="kryptochase" />
                            <p class="event_text">A Crypto Challenge - A cyber version of Scotland Yard!</p>
                            <a href="{%url 'kryptochase'%}"><div class="seeMore"> See More </div></a>
                        </div>
                        <div class="event-area">
                            <h4 class="event_title">Integration Bee</h4>
                            <img class="event_logo" src="{%static 'img/events/integrationbee_logo.png'%}" alt="integration bee" />
                            <p class="event_text">A mathematically intense event based off the format of the MIT Integration Bee</p>
                            <a href="{%url 'integrationbee'%}"><div class="seeMore"> See More </div></a>
                        </div>
                        <div class="event-area">
                            <h4 class="event_title">Sandhi</h4>
                            <img class="event_logo" src="{%static 'img/events/quiz_logo.png'%}" alt="Sandhi" />
                            <p class="event_text">A Spectacular & Novel Linguistics quiz<span style="font-size:0.8em;"><br> Dr. Monojit Choudury <br> Microsoft Research </span></p>
                            <a href="{%url 'sandhi'%}"><div class="seeMore"> See More </div></a>
                        </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <button class="closeButton" onclick=closeAllCategories();>&times;</button>
      </section>
      <section class="main-category" id="category4">
        <div class="category-display">
            <div class="category-display-content">
                <div class="category-display-content-1">
                    <img class="category-logo" src="{%static 'img/events/quiz_logo.png'%}" alt="quiz logo" />
                    <h2>QUIZ</h2>
                </div>
                <div class="category-display-content-2">
                    <p class="category_text">Quizzes for Everyone!</p>
                </div>
            </div>
        </div>
        <div class="category-content">
            <div data-simplebar class="category-content-contents">
                <div class="category-allContent">
                  <h3 class="subcategory_title">Quizzes</h3>
                    <div class="events-container">
                        <div class="event-area">
                            <h4 class="event_title">BASE Science Quizzine</h4>
                            <img class="event_logo" src="{%static 'img/events/quiz_logo.png'%}" alt="science quizzine" />
                            <p class="event_text">For School Students<span style="font-size:0.8em;"><br>IISc UG Quiz Club</span></p>
                            <a href="{%url 'scienceQuizzine'%}"><div class="seeMore"> See More </div></a>
                        </div>
                        <div class="event-area">
                            <h4 class="event_title">Sandhi</h4>
                            <img class="event_logo" src="{%static 'img/events/quiz_logo.png'%}" alt="Sandhi" />
                            <p class="event_text">A Spectacular & Novel Linguistics quiz<span style="font-size:0.8em;"><br> Dr. Monojit Choudury <br> Microsoft Research </span></p>
                            <a href="{%url 'sandhi'%}"><div class="seeMore"> See More </div></a>
                        </div>
                    </div>
                    <div class="events-container">

                        <div class="event-area">
                            <h4 class="event_title">Open Quizzes</h4>
                            <img class="event_logo" src="{%static 'img/events/quiz_logo.png'%}" alt="open quizzes" />
                            <p class="event_text">Open Quizzes for Everyone!<span style="font-size:0.8em;"><br>Thejaswi Udupa<br>Dr. Arul Mani</span></p>
                            <a href="{%url 'openQuizzes'%}"><div class="seeMore"> See More </div></a>
                        </div>
                        <div class="event-area">
                            <h4 class="event_title">College Quizzes</h4>
                            <img class="event_logo" src="{%static 'img/events/quiz_logo.png'%}" alt="college quizzes" />
                            <p class="event_text">Quizzes for college students<span style="font-size:0.8em;"><br>Thejaswi Udupa<br>Major Chandrakant Nair</span></p>
                            <a href="{%url 'collegeQuizzes'%}"><div class="seeMore"> See More </div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="closeButton" onclick=closeAllCategories();>&times;</button>
      </section>
      <section class="main-category" id="category5">
        <div class="category-display">
            <div class="category-display-content">
                <div class="category-display-content-1">
                    <img class="category-logo" src="{%static 'img/events/culture_logo.png'%}" alt="culture logo" />
                    <h2>CULTURE</h2>
                </div>
                <div class="category-display-content-2">
                    <p class="category_text">Performing Arts, Literature, Gaming</p>
                </div>
            </div>
        </div>
        <div class="category-content">
            <div data-simplebar class="category-content-contents">
                <div class="category-allContent">
                    <h3 class="subcategory_title">Culture</h3>
                    <div class="events-container">
                        <div class="event-area">
                            <h4 class="event_title">Indian Film Project Challenge & Workshop</h4>
                            <img class="event_logo" src="{%static 'img/events/IFP_logo.png'%}" alt="ifp logo" />
                            <p class="event_text">A 24 hour film-making challenge and workshop by the Indian Film Project</p>
                            <a href="{%url 'ifp'%}"><div class="seeMore"> See More </div></a>
                        </div>
                        <div class="event-area">
                            <h4 class="event_title">Gaming</h4>
                            <img class="event_logo" src="{%static 'img/events/gaming_logo.png'%}" alt="gaming logo" />
                            <p class="event_text">PUBG Mobile and FIFA!</p>
                            <a href="{%url 'gaming'%}"><div class="seeMore"> See More </div></a>
                        </div>
                        <div class="event-area">
                            <h4 class="event_title">Wikimedia India Photography Contest</h4>
                            <img class="event_logo" src="{%static 'img/events/wikimediaphotography_logo.png'%}" alt="wikimedia india photography contest logo" />
                            <p class="event_text">Contribute to Wikimedia Commons and win!</p>
                            <a href="{%url 'wikimediaphotography'%}"><div class="seeMore"> See More </div></a>
                        </div>
                        <div class="event-area">
                            <h4 class="event_title">Battle of Bands</h4>
                            <img class="event_logo" src="{%static 'img/events/bob_logo.png'%}" alt="battle of bands logo" />
                            <p class="event_text">Rock on with the Battle of Bands</p>
                            <a href="{%url 'battleofbands'%}"><div class="seeMore"> See More </div></a>
                        </div>
                        <div class="event-area">
                            <h4 class="event_title">Lasya</h4>
                            <img class="event_logo" src="{%static 'img/events/lasya_logo.png'%}" alt="lasya logo" />
                            <p class="event_text">The Dance Exposition</p>
                            <a href="{%url 'lasya'%}"><div class="seeMore"> See More </div></a>
                        </div>
                        <div class="event-area">
                            <h4 class="event_title">Proscenium</h4>
                            <img class="event_logo" src="{%static 'img/events/proscenium_logo.png'%}" alt="proscenium logo" />
                            <p class="event_text">TThe Thespian Extravaganza</p>
                            <a href="{%url 'proscenium'%}"><div class="seeMore"> See More </div></a>
                        </div>
                        <div class="event-area">
                            <h4 class="event_title">Footprints</h4>
                            <img class="event_logo" src="{%static 'img/events/footprints_logo.png'%}" alt="footprints logo" />
                            <p class="event_text">Reviving Street Play</p>
                            <a href="{%url 'footprints'%}"><div class="seeMore"> See More </div></a>
                        </div>
                    </div>
                    <h3 class="subcategory_title">Literature</h3>
                    <div class="events-container">
                        <div class="event-area">
                            <h4 class="event_title">Vignettora</h4>
                            <img class="event_logo" src="{%static 'img/events/vignettora_logo.png'%}" alt="vignettora logo" />
                            <p class="event_text">Wield a pen, let your mind wander</p>
                            <a href="{%url 'vignettora'%}"><div class="seeMore"> See More </div></a>
                        </div>
                        <div class="event-area">
                            <h4 class="event_title">Debubulary</h4>
                            <img class="event_logo" src="{%static 'img/events/debubulary_logo.png'%}" alt="debubulary logo" />
                            <p class="event_text">Pitch the most convincing arguments</p>
                            <a href="{%url 'debubulary'%}"><div class="seeMore"> See More </div></a>
                        </div>
                        <div class="event-area">
                            <h4 class="event_title">Cryptothlon</h4>
                            <img class="event_logo" src="{%static 'img/events/cryptothlon_logo.png'%}" alt="cryptothlon logo" />
                            <p class="event_text">Become the Cryptic Crossword Champ</p>
                            <a href="{%url 'cryptothlon'%}"><div class="seeMore"> See More </div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="closeButton" onclick=closeAllCategories();>&times;</button>
      </section>
    </div>

  </div>
  <script src="{%static 'js/navBar.js'%}"> </script>
  <script>
    var category1 = $("#category1");
    var category2 = $("#category2");
    var category3 = $("#category3");
    var category4 = $("#category4");
    var category5 = $("#category5");
    var allCategories = document.getElementsByClassName("main-category");
    var categoryOpenStatus = [false, false, false];
    var anyCategoryOpen = false;
    var fadeTransitionLength = 200;
    var flexRatio = 8;
    var categoryOpenCloseDelay = 800;
    //returns whether or not the device is a mobile
    function isMobile(){
        return ($(window).width() < 760);
    }
    //calculates the height of the category content using jquery.actual.min.js for smooth slideDown()
    function mobileContentHeight(){
        if(isMobile()){
            strtemp = " meta  ";
            for(var i=1; i<= allCategories.length; i++){
                currentCategoryContent = $("#category" + i + " .category-content");
                currentCategoryAllContent = $("#category" + i + " .category-allContent");
                temp = currentCategoryAllContent.actual("height");
                strtemp = strtemp + temp + " ";
                currentCategoryContent.css('height',(temp+20));
            }
            console.log(strtemp);
        }
        else{
            $("main-category .category-content").css('height','none');
        }
        console.log("\tmobileContentHeight ready");
    }
    //open category on hovering
    category1.find(".category-display").click(function(){categoryOpenClose(1);});
    category2.find(".category-display").click(function(){categoryOpenClose(2);});
    category3.find(".category-display").click(function(){categoryOpenClose(3);});
    category4.find(".category-display").click(function(){categoryOpenClose(4);});
    category5.find(".category-display").click(function(){categoryOpenClose(5);});
    $(document).ready(function(){
        setTimeout(function(){
            mobileContentHeight();
            closeAllCategories();
        },300);
    });
    $(window).resize(function(){
        mobileContentHeight();
        var width1,width2;
        width1= $(window).width();
        setTimeout(function(){
            width2= $(window).width();
        }, 5);
        setTimeout(function(){
            if(width1 != width2){
                console.log("Width resize "+width1+ " " +width2);
                closeAllCategories();
                }
        }, 5);

    });


    function closeAllCategories(){
        $(".closeButton").delay(0).fadeOut(100);
        if(isMobile()){
            $(".category-content").slideUp(200);
            $(".category-display h2").removeClass("rotateACW");
        }
        else{
            $(".category-display").delay(200).fadeIn(200);
            $(".category-content").fadeOut(200);
            $(".main-category").css("flex-grow",1);
            $(".main-category").css("flex-shrink",1);
            $(".category-display-content-1").removeClass("rotateACW");
            $(".category-logo").removeClass("rotatedLogo");
            $(".category-display .category_text").delay(300).slideDown(200);
        }
        console.log("CLOSED ALL CATEGORIES");
    }


    function categoryOpenClose(n){
        if(isMobile()){
            for(var i=1; i<= allCategories.length; i++){
              currentCategory = $("#category" + i);
              if (i==n){
                  currentCategory.find(".category-content").delay(0).slideDown(300);
                  currentCategory.find(".closeButton").delay(0).fadeIn(100);
                      currentCategory.css("flex-grow",flexRatio);
                      currentCategory.css("flex-shrink",flexRatio);
                  categoryOpenStatus[i] = true;
                  console.log("opened category" + i);
              }
              else{
                  currentCategory.find(".category-content").delay(0).slideUp(300);
                  currentCategory.find(".closeButton").delay(0).fadeOut(100);
                      currentCategory.css("flex-grow",1);
                      currentCategory.css("flex-shrink",1);
                  categoryOpenStatus[i] = false;
                  console.log("closed category" + i);
              }
            }
            console.log("Category Open-Close Complete");
        }
        else{
            for(var i=1; i<= allCategories.length; i++){
              currentCategory = $("#category" + i);
              if (i==n){
                  currentCategory.find(".category-display").delay(1000).fadeOut(300);
                  currentCategory.find(".closeButton").delay(0).fadeIn(100);
                  currentCategory.find(".category-display-content-1").removeClass("rotateACW");
                  currentCategory.find(".category-display .category_text").delay(400).slideDown(200);
                  currentCategory.find(".category-logo").removeClass("rotatedLogo");
                  currentCategory.find(".category-content").delay(900).fadeIn(300);
                      currentCategory.css("flex-grow",flexRatio);
                      currentCategory.css("flex-shrink",flexRatio);
                  categoryOpenStatus[i] = true;
                  console.log("opened category" + i);
              }
              else{
                  currentCategory.find(".category-display").delay(0).fadeIn(300);
                  currentCategory.find(".closeButton").delay(0).fadeOut(100);
                  currentCategory.find(".category-display-content-1").addClass("rotateACW");
                  currentCategory.find(".category-display .category_text").slideUp(30);
                  currentCategory.find(".category-logo").addClass("rotatedLogo");
                  currentCategory.find(".category-content").delay(0).fadeOut(300);
                      currentCategory.css("flex-grow",1);
                      currentCategory.css("flex-shrink",1);
                  categoryOpenStatus[i] = false;
                  console.log("closed category" + i);
              }
            }
            console.log("Category Open-Close Complete");
        }
    }


  </script>
{% endblock %}
