{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/hamburger.css'%}">
    <link rel="icon" href="{%static 'img/logo-gold.gif'%}">

    <title>Footprints | Pravega 2019, IISc Bangalore</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400|Overlock+SC|Fira+Sans+Condensed:400,400i,600,600i" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/eventdetails.css'%}">
	    <link rel="stylesheet" href="{%static 'css/eventstyle.css'%}">
	<link rel="stylesheet" href="{%static 'css/onepage-scroll.css'%}" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" rel="text/javascript" ></script>
	<script src="{%static 'js/jquery.onepage-scroll.js'%}" rel="text/javascript" ></script>
{% endblock %}

{% block content %}

<div id="main" class="main" >
		<section style="background-color:rgba(8,8,8,0.5);">
		<div class="slide first">

        <div class="heading">Footprints</div>
        <div class="horizontal-line"></div>
        <div class="main-section">
            <p>
                You can participate in the age old tradition of street art here! Come express yourself in English, Hindi or Kannada!
            </p>
            <p style="font-style:italic">
              Have any queries? Contact out Footprints coordinators Harshitha (harshitham@iisc.ac.in) or Ashim (ashimdubey@iisc.ac.in).
            </p>
            <div class="event-essentials">
                <a href="{% url 'footprintsRegistration' %}"><div class="yellow-status"><!-- &#10010; --> Register Now</div></a>
            </div>
        </div>

		</div>
		</section >
        <section  style="background-color:rgba(8,8,8,0.5);">
        <div class="slide">
            <div class="main-section">
                <div class="section-heading">Prizes</div>
                <div class="horizontal-line"></div>
                <p style="margin-top: 12px;">
                    The Winner of the gets a prize INR 20,000 and the runner up gets a prize of INR 12,000.
                </p>

            </div>
        </div>

        </section >
			<section style="background-color:rgba(8,8,8,0.5);">
		<div class="slide">
        <div class="main-section">
            <div class="main-section">
            <div class="section-heading">General Rules of the Event:</div>
            <div class="horizontal-line"></div>
            <ul>
                <li>	Each team must comprise of a minimum of 4 and a maximum of 20 individuals (exclusive of all the helpers).  </li>
                <li>	The teams must bring their own props and costumes.</li>
                <li>	No electronic musical instruments, sound system or mics will be allowed.</li>
				<div class="part2">
                <li>	The duration of the play should not exceed 20 minutes (including set-up time). Teams exceeding the stipulated time limit will be penalized and those crossing 5 minutes extra-time will be disqualified.</li>
                <li>	Use of fire (even diyas, candles or lighters) and water is not allowed.</li>
				</div>
            </ul>
        </div>
		</div>
		</section >
		<section  style="background-color:rgba(8,8,8,0.5);">

		<!--The id "last" is imoprtant to handle the footer during reizes-->
		<div class="slide" id="last">
        <div class="main-section">
            <div class="section-heading">Registration</div>
            <div class="horizontal-line"></div>
                <p>
                    Registrations will be accepted online through the website prior to the event. No spot registrations will be allowed.
                </p>
                <div class="event-essentials">
                    <a href="{% url 'footprintsRegistration' %}"><div class="yellow-status"><!-- &#10010; --> Register Now</div></a>
                </div>
        </div>
		</div>
		<div id="footer-id">

{% endblock %}

{%block postfooter %}
		</div>
		</section>
</div>
<script src="{%static 'js/slideScroll.js'%}"></script>
<script src="{%static 'js/navBar.js'%}"> </script>
{%endblock %}
