{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/hamburger.css'%}">
    <link rel="icon" href="{%static 'img/logo-gold.gif'%}">

    <title>Gaming | Pravega 2019, IISc Bangalore</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400|Overlock+SC|Fira+Sans+Condensed:400,400i,600,600i" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/eventdetails.css'%}">
{% endblock %}

{% block content %}
<div style="margin-bottom:14px;" id="main" class="main" >
		<section  style="padding:24px; background-color:rgba(0,0,0,0.5);">
		<div class="slide">

        <div class="heading">Gaming Events</div>
        <div class="horizontal-line"></div>
        <div class="main-section">
              <style>
                #gaming_poster{
                  width:100%;
                  max-width:90vw;
                  margin:14px auto;
                  max-height: 80vw;
                  display: block;
                }
                @media(min-width:760px){
                  #gaming_poster{
                    width:80%;
                  }
                }
              </style>
            <img id="gaming_poster" src="{% static 'img/events/gaming/gaming_pravega_2019_IISc_Bangalore.png'%}" />
            <div  style="margin:14px;" class="section-heading">PUBG Rules:</div>
            <ol style="margin:14px;">
              <li>It is a duo, meaning 2 players in a team
              </li><li>Once, registered, you'll be added to the whatsapp group on the day of the qualifiers where the room ID and password of the server will be given. Once you get them, you can join the server for the qualifier at the specified time.
              </li><li> There will be 5 qualifiers spread out amongst the 3 days.
              </li><li> Each qualifiers will have 3 random maps and a point system is in place for calculating the points obtained by each team.
              </li><li> The top 10 teams from each qualifier will be selected for the finals which will be conducted at the IISc campus on
                  20th Jan starting at 11am.
              </li><li>The finals will be between 50 teams.
              </li><li>Teams that haven't gotten selected in the qualifiers can register again for the next qualifier if the slots are available.
              </li>
            </ol>
            <p style="color:orange;">Important:<br>
                &nbsp;  &nbsp;  &nbsp;   Please join the PUBG Tournament Whatsapp group only after registering your team. Otherwise, you will not be added to the qualifiers group.
            </p>
            <div class="event-essentials">
              <a href="{% url 'pubgRegistration' %}"><div class="yellow-status"><!-- &#10010; -->  PUBG Tournament Registration</div></a>
              <a href="https://chat.whatsapp.com/ExYG1cBlB0pKQ2xU7Bjtv4"><div class="yellow-status"><!-- &#10010; -->  PUBG Tournament Whatsapp Group</div></a>
            </div>

		</div>
		</div>
		</section >
</div>
<script src="{%static 'js/navBar.js'%}"> </script>
{%endblock %}
