{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/hamburger.css'%}">
    <link rel="icon" href="{%static 'img/logo-gold.gif'%}">

    <title>BASE Inter-school Science Competition | Pravega 2019, IISc Bangalore</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400|Overlock+SC|Fira+Sans+Condensed:400,400i,600,600i" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/eventdetails.css'%}">

	<link rel="stylesheet" href="{%static 'css/onepage-scroll.css'%}" />
	<link rel="stylesheet" href="{%static 'css/eventstyle.css'%}" />
	<script src="{%static 'js/jquery.js'%}" rel="text/javascript" ></script>
	<script src="{%static 'js/jquery.onepage-scroll.js'%}" rel="text/javascript" ></script>
    <style>
        section{
            background-color:rgba(8,8,8,0.5);
        }
    </style>
{% endblock %}

{% block content %}
<div id="main" class="main" >
		<section  style="background-color:rgba(8,8,8,0.5);">
		<div class="slide">

        <div class="heading">BASE Inter-school Science Competition</div>
        <div class="horizontal-line"></div>
        <div class="main-section">
		<p>
      This event aims to expose the students to the thrill of doing Science and to make them aware about the fact that they can follow their passion for Science by actually pursuing a career in Science.
    <br>
     The competition will test the scientific thinking skills of the students. The event also includes an inspirational talk by Prof. D.D. Sarma - an eminent Scientist from the Indian Institute of Science.		</p>
            <div class="event-essentials">
                <a href="{% url 'iscRegistration' %}"><div class="yellow-status"><!-- &#10010; -->  Register Now</div></a>
            </div>
		</div>
		</div>
		</section >
    <section  style="background-color:rgba(8,8,8,0.5);">
		<div class="slide">

        <div class="heading">Event Details</div>
        <div class="horizontal-line"></div>
        <div class="main-section">
		        Date: 18th of January, 2019<br>
            Venue: JN Tata Auditorium, Indian Institute of Science, CV Raman Road, Bengaluru<br>
            Schedule:
            <ol style="margin-top:0;padding-top:0;">
                <li>9:00 AM  : The event begins</li>
                <li>9:10 AM  : The Prelims begin</li>
                <li>10:15 AM : Talk by Prof. D.D. Sarma</li>
                <li>11:15 AM : Refreshments Break</li>
                <li>11:35 AM : Final round begins</li>
                <li>The event will conclude before 12:30 PM</li>
            </ol>


		</div>
		</div>
		</section >

    <section  style="background-color:rgba(8,8,8,0.5);">
		<div class="slide">
        <div class="main-section">
            <div class="section-heading">Important information:</div>
            <div class="horizontal-line"></div>
          <ul>
                <li>One school can nominate up to three teams.</li>
                <li>Number of students per each team: 3 (at least two from classes 9th-10th and the third from classes 9th - 11th)</li>
                <li>There is no participation fee.</li>
                <li>One school teacher should preferably accompany the school team(s).</li>
            </ul>
			</div>
        </div>

		</section>

		<section style="background-color:rgba(8,8,8,0.5);">

		<!--The id "last" is imoprtant to handle the footer during reizes-->
		<div class="slide" id="last">
        <div class="main-section">
            <div class="section-heading">Register NOW</div>
            <div class="horizontal-line"></div>
            <p>
            	Click here to Register Now
            </p>
				<div class="event-essentials">
                    <a href="{% url 'iscRegistration' %}"><div class="yellow-status"><!-- &#10010; --> Register Now</div></a>
                </div>
        </div>

		</div>
		<div id="footer-id">



{% endblock %}

{%block postfooter %}
		</div>
		</section>
</div>
<script src="{%static 'js/navBar.js'%}"> </script>
<script src="{%static 'js/slideScroll.js'%}"></script>
{%endblock %}
