{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/hamburger.css'%}">
    <link rel="icon" href="{%static 'img/logo-gold.gif'%}">

    <title>Partners | Pravega 2019, IISc Bangalore</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Overlock+SC|Raleway:300,400|Dosis:300,400,700,800|Ubuntu+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/tesseract.css'%}">
{% endblock %}

{% block content %}
    <div id="main">
            <div class="foreground">
                <div class="band_logo"></div>
                <div class="band_name">
                </div>
                <div class="book_btn">
                    Book now
                </div>
            

            </div>
        <div class="description_container">
            <div class="description_text">
                As a part of Pravega, the Indian institute of Science’s art and cultural fest we present to you TesseracT! On the third and last day of the fest, the winner of Pravega’s Battle of Bands will open for this internationally acclaimed band. The venue will be surrounded by several scrumptious food trucks for you to indulge when exhausted from all the head banging. The faster you book your tickets the more money you save!
            </div>    
        </div>
        <div class="band_page">
            <div class="band_description">
                Pravega presents to you the creators of Polaris, Sonder, Odyssey, one of the pioneers of the djent movement, a progressive metal band from England, performing live in your very own city! The band, formed in 2003, consists of Daniel Tompkins (lead vocals), Alec "Acle" Kahney (lead guitar & producer), James Monteith (rhythm guitar), Amos Williams (bass, backing vocals), and Jay Postones (drums, percussion) and has performed as a part of over 30 tours and fests all over the world. 
            </div>
        </div>
    </div>

<script src="{%static 'js/navBar.js'%}"> </script>
{% endblock %}
