{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/hamburger.css'%}">
    <link rel="icon" href="{%static 'img/logo-gold.gif'%}">

    <title>Proscenium | Pravega 2019, IISc Bangalore</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400|Overlock+SC|Fira+Sans+Condensed:400,400i,600,600i" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/eventstyle.css'%}" />
	<link rel="stylesheet" href="{%static 'css/eventdetails.css'%}">

	<link rel="stylesheet" href="{%static 'css/onepage-scroll.css'%}" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" rel="text/javascript" ></script>
	<script src="{%static 'js/jquery.onepage-scroll.js'%}" rel="text/javascript" ></script>
{% endblock %}

{% block content %}
<div id="main" class="main" >
		<section style="background-color:rgba(8,8,8,0.5);">
		<div class="slide first">

        <div class="heading">Proscenium</div>
        <div class="horizontal-line"></div>
        <div class="main-section">
            <p>
                Proscenium is the Thespian Extravaganza of Pravega, in which some of our country’s most talented student theatre groups argue for a debatable statement presented a-priori. The plays can be in English, Hindi, or Kannada.
            </p>
            <p style="font-style:italic">
              Have any queries? Contact out Proscenium coordinators Harshitha (harshitham@iisc.ac.in) or Ashim (ashimdubey@iisc.ac.in).
            </p>
            <div class="event-essentials">
                <a href="{% url 'prosceniumRegistration' %}"><div class="yellow-status"><!-- &#10010; --> Register Now</div></a>
            </div>
		</div>
		</div>
		</section >
        <section  style="background-color:rgba(8,8,8,0.5);">
        <div class="slide">
            <div class="main-section">
                <div class="section-heading">Prizes</div>
                <div class="horizontal-line"></div>
                <p style="margin-top: 12px;">
                    The Winner of the gets the <b> Airbus A380 Prize</b> of INR 12,000 and the runner up gets the <b>Airbus A350 Prize</b> of INR 10,000.
                </p>

            </div>
        </div>

        </section >
			<section style="background-color:rgba(8,8,8,0.5);">
		<div class="slide">
        <div class="main-section">
            <div class="section-heading">Preliminaries</div>
            <div class="horizontal-line"></div>
            <div class="section-subheading">Video Preliminaries:</div>
            <p>
                The preliminaries will be held during October and November. Video must be uploaded to the website portal or YouTube / Vimeo / Google Drive link must be provided at time of registration.  The camera must remain stationary and the recording must be a single take. The duration of the video must not exceed 20 minutes.

                 Type of file : {{ file_info }}.
             </p>
			<div class="part2">

            <p>
                The registrations and submissions for the prelims will close by the 10th of December, 2018. 6-8 teams will be selected from the entries pool for the final event. The prelims video can be of any topic of your choice.
            </p>
			</div>
        </div>
		</div>
		</section  style="background-color:rgba(8,8,8,0.5);">
		<section style="background-color:rgba(8,8,8,0.5);">
			<div class="slide">
        <div class="main-section" >
            <div class="section-heading">General Rules of the Event:</div>
            <div class="horizontal-line"></div>
            <ul>
                <li>	Each team must comprise of a minimum of 4 and a maximum of 20 individuals (exclusive of all the helpers). </li>
                <li>	The teams must bring their own props and costumes.</li>
                <li>	The theme for the finals will be announced with the results of the prelims.</li>
				<div class="part2list">
                <li>	The maximum duration of the play is 30 minutes (this includes 5 minutes set-up time). Teams exceeding the stipulated time limit will be penalized and those crossing 5 minutes extra-time will be disqualified.</li>
                <li>	Use of fire (even diyas, candles or lighters) and water is not allowed.</li>
				</div>
			</ul>
        </div>
		</div>
		</section>
		<section  style="background-color:rgba(8,8,8,0.5);">

		<!--The id "last" is imoprtant to handle the footer during reizes-->
		<div class="slide" id="last">
        <div class="main-section">
            <div class="section-heading">Registration</div>
            <div class="horizontal-line"></div>
                <p>
                    Registrations will be accepted online through the website prior to the event. No spot registrations will be allowed.
                </p>
                <div class="event-essentials">
                    <a href="{% url 'prosceniumRegistration' %}"><div class="yellow-status"><!-- &#10010; --> Register Now</div></a>
                </div>
        </div>
		</div>
		<div id="footer-id">

{% endblock %}

{%block postfooter %}
		</div>
		</section>
</div>
<script src="{%static 'js/navBar.js'%}"> </script>
<script src="{%static 'js/slideScroll.js'%}"></script>
{%endblock %}
