{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/hamburger.css'%}">
    <link rel="icon" href="{%static 'img/logo-gold.svg'%}">

    <title>Register|Pravega 2019|IISc's Annual Fest</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Overlock+SC|Raleway:300,400|Dosis:300,400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/comingsoon.css'%}">
{% endblock %}

{% block content %}
    <div id="main">
        <img id="cslogo" src="{%static 'img/logo-gold.svg'%}">
        <div id="cstitle">
            Registrations are yet to begin
        </div>
        <div id="cssubtitle">
            Stay tuned
        </div>
    </div>

    <script>
        var navBar = document.getElementById("navBar");
        var navMobile = document.getElementById('navBarMobile');
        var homeNav = document.getElementById("homeNav");
        var ham = document.getElementById('hamburgerButton');
        var navDisplay = false;     //whether or not nav menu is displayed on mobile
        var navSets = document.getElementsByClassName("navLinkSet");

        window.onresize = function(){
            toggleNavMobile(false);
            if(document.documentElement.clientWidth >= 760){

                navSets[0].style.flex = "4 0 0";
                navSets[1].style.flex = "1 0 0";
                navSets[2].style.flex = "4 0 0";
                navBar.style.top = "0";
            }
            else{
                navSets[0].style.flex =  "1 0 100%";
                navSets[1].style.flex =  "1 0 100%";
                navSets[2].style.flex =  "1 0 100%";
            }
        };

        window.onload = function(){
            toggleNavMobile(false);
            if(document.documentElement.clientWidth >= 760){

                navSets[0].style.flex = "4 0 0";
                navSets[1].style.flex = "1 0 0";
                navSets[2].style.flex = "4 0 0";
                navBar.style.top = "0";
            }
            else{
                navSets[0].style.flex =  "1 0 100%";
                navSets[1].style.flex =  "1 0 100%";
                navSets[2].style.flex =  "1 0 100%";
            }
        };

        function toggleNavMobile(disp){         //shows nav menu for mobile if argument is true, otherwise hides

            if(!disp){
                navMobile.style.borderBottom = "#ffee9c solid 1px";
                navBar.style.top = "-280px";
                ham.classList.remove('is-active');
                homeNav.style.opacity= "0";
            }
            else{
                navMobile.style.borderBottom = "#000000 solid 1px";
                navBar.style.top = "44px";
                ham.classList.add('is-active');
                homeNav.style.opacity= "1";
            }
            navDisplay = !navDisplay;
        }

        ham.addEventListener("click", function() {
            toggleNavMobile(!navDisplay);
            }, true);

    </script>
{% endblock %}
