{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/hamburger.css'%}">
    <link rel="icon" href="{%static 'img/logo-gold.gif'%}">

    <title>Sandhi | Pravega 2019, IISc Bangalore</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400|Overlock+SC|Fira+Sans+Condensed:400,400i,600,600i" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/eventdetails.css'%}">
	    <link rel="stylesheet" href="{%static 'css/eventstyle.css'%}">
	<link rel="stylesheet" href="{%static 'css/onepage-scroll.css'%}" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" rel="text/javascript" ></script>
	<script src="{%static 'js/jquery.onepage-scroll.js'%}" rel="text/javascript" ></script>
{% endblock %}

{% block content %}

<div id="main" class="main" >
		<section style="background-color:rgba(8,8,8,0.5);">
		<div class="slide first">

        <div class="heading">Sandhi</div>
        <div class="horizontal-line"></div>
        <div class="main-section">
            <p>
              Gear up to test your familiarity with language in Sandhi, a spectacular and novel Linguistics quiz by quizmaster Dr. Monojit Choudury (Microsoft Research) on 20th January!
            </p>
            <p style="font-style:italic">
              Have any queries? Contact our Sandhi Coordinator Chinamaya (chinmaya@iisc.ac.in).
            </p>
        </div>

		</div>
		</section >
    <section style="background-color:rgba(8,8,8,0.5);">
		<div class="slide first">

        <div class="heading">Prizes</div>
        <div class="horizontal-line"></div>
        <div class="main-section">
            <ul>
                <li>1st Prize &nbsp; &nbsp; - Rs 4,000</li>
                <li>2nd Prize &nbsp; - Rs 2,000</li>
            </ul>
        </div>

		</div>
		</section >
		<section  style="background-color:rgba(8,8,8,0.5);">

		<!--The id "last" is imoprtant to handle the footer during reizes-->
		<div class="slide" id="last">
        <div class="main-section">
            <div class="section-heading">Registration</div>
            <div class="horizontal-line"></div>
                <p>

              Register in front of OPB (Old Physics Building) and at merchandise stalls, starting Friday.
                </p>
        </div>
		</div>
		<div id="footer-id">

{% endblock %}

{%block postfooter %}
		</div>
		</section>
</div>
<script src="{%static 'js/slideScroll.js'%}"></script>
<script src="{%static 'js/navBar.js'%}"> </script>
{%endblock %}
