{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/hamburger.css'%}">
    <link rel="icon" href="{%static 'img/logo-gold.gif'%}">

    <title>Sponsors | Pravega 2019, IISc Bangalore</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Overlock+SC|Raleway:300,400|Dosis:300,400,700,800|Voces" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/comingsoon.css'%}">
    <link rel = "stylesheet" href = "{%static 'css/sponsors.css'%}">
    <link rel="stylesheet" href="{%static 'css/grid.css'%}">
{% endblock %}

{% block content %}




    <div id="main">
        <a href="https://www.airbus.com"> <img id="cslogo" src = "{%static 'img/partners/AIRBUS_WHITE.png'%}"></a><div id="cssubsubtitle">Presents</div>
        <img id = "cslogo1" src = "{% static 'img/logo-gold.svg'%}">
        <div id="cstitle">Pravega, 2019</div>
        <div id="cssubtitle">18-20th Jan</div>


    </div>
<section id="section Title-sponsors">
            <div id = "cssubsubtitle">Title Sponsor<br></div>
    <div class="row">
        <a href="https://www.airbus.com"><img id="cslogo" src="{%static 'img/partners/AIRBUS_WHITE.png'%}"><div id = "white"><p><b>AIRBUS</b></p></div></a>
    </div>
        </section>


        <section id = "section gold-sponsor">
            <div id = "cssubsubtitle">Gold Sponsor<br><br></div>
                <div class="row">
                <a href = "https://www.ibm.com/in-en/?ar=1"><img id="cslogo" src="{%static 'img/partners/IBM-Blue.jpg'%}"><div id = "white"><p></p></div></a>
                        </div>




</section>

        <section id= "section fest-sponsors">
             <div id = "cssubsubtitle">Fest Sponsors</div>
            <div class="row">
                <div class = "col span-1-of-3">

                    <a href="http://www.koremec.com/"><img id="cslogo" src="{%static 'img/partners/koremec.png'%}"><p><b>Koremec</b></p></a>
                </div>
                <div class = "col span-1-of-3">

                    <a href = "http://www.lntchiyoda.com"><img id="cslogo" src="{%static 'img/partners/LnT.jpg'%}"><p><b>LnT - Chiyoda</b></p></a>
                </div>
                <div class = "col span-1-of-3">

                    <a href="http://www.connoisseur.co.za"><img id="cslogo" src="{%static 'img/partners/Conoisseur.png'%}"><p><b>Conoisseur</b></p></a>
                </div>
            </div>
            <div class = "row">
                <div class = "col span-1-of-3">

                    <a href="https://www.ika.com/en"><img id="cslogo" src="{%static 'img/partners/IKA_logo.JPG'%}"><p id="IKA"><b>IKA</b></p></a>

                </div>
                <div class="col span-1-of-3">
                    <a href="https://www.mrpl.co.in/">"><img id="cslogo" src="{%static 'img/partners/MRPL.jpg'%}"><p><b>MRPL</b></p></a>
                </div>
            </div>
        </section>

<section id="section event-sponsors">
    <div id="cssubsubtitle">Event Sponsors</div>
    <div class="row">
        <div class="col span-1-of-3">
            <a href="https://www.capillarytech.com"><img id="cslogo" src = "{%static 'img/partners/Capillary.png'%}"><p><b>Capillary Technologies</b></p></a><p>Linguistics</p>
        </div>
        <div class="col span-1-of-3">
            <a href="https://sites.google.com/site/ieeesbiisc/"><img id="cslogo" src="{%static 'img/partners/IEEE.png'%}"><p><b>IEEE</b></p></a><p>Science Journalism</p>
        </div>
        <div class="col span-1-of-3">
            <a href="https://www.furtadosonline.com"><img id="cslogo" src="{%static 'img/partners/Furtados.jpg'%}"><p><b>Furtados</b></p></a><p>Battle of Bands</p>
        </div>
    </div>
    <div class="row">
        <div class="col span-1-of-3">
            <a href="http://ncert.nic.in/"><img id="cslogo" src="{%static 'img/partners/NCERT.png'%}"><p><b>NCERT</b></p></a><p><br></p>
        </div>

        <div class="col span-1-of-3">
            <a href="https://www.base-edu.in/#/"><img id="cslogo" src="{%static 'img/partners/BASE.png'%}"><p><b>BASE</b></p></a><p>Science Quizzine and ISc</p>
        </div>
        <div class="col span-1-of-3">
            <a href="https://www.pokerbaazi.com/"><img id="cslogo" src="{%static 'img/partners/pokerbaazi.png'%}"><p><b>PokerBaazi</b></p></a><p>Lagori, Pro-Nites</p>
        </div>
    </div>


</section>

<section id="section event-partners">
    <div id="cssubsubtitle">Event Partners</div>
     <div class="row">
                <div class = "col span-1-of-3">

                    <a href="https://www.wikimedia.org"><img id = "cslogo" src = "{%static 'img/partners/Wikimedia.png'%}"><p><b>Wikimedia India</b></p></a><p>Photography contest</p>
                </div>
                <div class = "col span-1-of-3">

                    <a href = "https://www.facebook.com/Fandomatgillysredefined/"><img id = "cslogo" src = "{%static 'img/partners/Fandom.jpg'%}"><p><b>Fandom at Gilly's Redefined</b></p></a><p>Battle of Bands, Venue Partner(Bangalore)</p>
                </div>
                <div class = "col span-1-of-3">

                    <a href="https://www.facebook.com/TheMoonshineProjectHyd/"><img id = "cslogo" src = "{%static 'img/partners/Moonshine.png'%}"><p><b>The Moonshine Project</b></p></a><p>Batlle of Bands, Venue Partner</p>
                </div>
            </div>
            <div class = "row">
                <div class = "col span-1-of-3">

                    <a href="https://www.justdial.com/Mumbai/The-Strings-Next-to-BMW-Showroom-Malad-West/022PXX22-XX22-141110093952-C1S7_BZDET"><img id = "cslogo" src = "{%static 'img/partners/Strings.jpg'%}"><p><b>The Strings Jam Pad</b></p></a><p>Battle of Bands, Venue Partner(Mumbai)</p>
                </div>
                <div class = "col span-1-of-3">

                    <a href="http://www.wemovetheatre.in/"><img id = "cslogo" src = "{%static 'img/partners/campus.jpeg'%}"><p><b>Campus The Awakening</b></p></a><p>Proscenium</p>
                </div>
            </div>
</section>

<section id="section ticketing-partners">
<div id="cssubsubtitle">Ticketing Partners</div>
    <div class="row">
        <div class="col span-1-of-3">
            <a href="https://insider.in"><img id = "cslogo" src = "{%static 'img/partners/insider.png'%}"><p><b>Insider</b></p></a><p>Pro-Nites</p>
        </div>
        <div class="col span-1-of-3">
            <a href="https://paytm.com"><img id = "cslogo" src = "{%static 'img/partners/PayTM.jpg'%}"><p><b>PayTM</b></p></a><p>Pro-Nites</p>
        </div>
        <div class="col span-1-of-3">
            <a href="https://www.thecollegefever.com"><img id="cslogo" src="{%static 'img/partners/college-fever.png'%}"><p><b>College Fever</b></p></a><p>Workshops</p>
        </div>
    </div>
    </section>

<section id="section food-partners">
    <div id="cssubsubtitle">Food Partners</div>
    <div class="row">
        <div class="col span-1-of-3">
            <a href="https://www.zomato.com/bangalore/hushys-kitchen-shanti-nagar-bangalore"><img id = "cslogo" src = "{%static 'img/partners/Hushys.jpg'%}"><p><b>Hushy's Kitchen</b></p></a>
        </div>
        <div class="col span-1-of-3">
            <a href="https://www.justdial.com/Bangalore/Lemonday-Near-Rex-Theatre-Brigade-Road/080PXX80-XX80-141004141833-Q7N7_BZDET"><img id = "cslogo" src = "{%static 'img/partners/lemonday.jpg'%}"><p><b>Lemonday</b></p></a>
        </div>
        <div class="col span-1-of-3">
            <a href="https://www.justdial.com/Bangalore/Soda-Junction-Vidyaranyapura/080PXX80-XX80-140115210009-P2T2_BZDET"><img id = "cslogo" src = "{%static 'img/partners/Sodajunction.jpg'%}"><p><b>Soda Junction</b></p></a>
        </div>
    </div>
    <div class="row">
      <div class="col span-1-of-3">
        <a href="https://www.zomato.com/go-waffles-food-truck-food-truck"><img id = "cslogo" src = "{%static 'img/partners/Go Waffles.jpg'%}"><p><b>Go Waffles</b></p></a>
      </div>
    </div>
</section>

<section id="section Workshop-partners">
    <div id="cssubsubtitle">Workshop Partners</div>
    <div class="row">
        <div class="col span-1-of-3">
            <a href="http://www.infizeal.com"><img id = "cslogo" src = "{%static 'img/partners/infizeal.png'%}"><p><b>Infizeal Technologies</b></p></a><p>Augmented Interface<br><br></p>
        </div>
        <div class="col span-1-of-3">
            <a href="http://harithatechlogix.com"><img id = "cslogo" src = "{%static 'img/partners/Haritha.jpg'%}"><p><b>Haritha TechLogix</b></p></a><p>Design Thinking<br>Hybrid and Electric Vechicle Engineering</p>
        </div>
        <div class="col span-1-of-3">
            <a href="http://vigyantram.com"><img id = "cslogo" src = "{%static 'img/partners/Vigyantram.png'%}"><p><b>Vigyantram</b></p></a><p>Humanoid Robotics<br>3D Printing </p>
        </div>
    </div>
    <div class="row">
        <div class="col span-1-of-3">
           <a href="http://www.htindialabs.com"><img id = "cslogo" src = "{%static 'img/partners/HTIndia.jpg'%}"><p><b>HT India Labs</b></p></a><p>Big Data Analysis<br>Hadoop<br><br></p>
        </div>
        <div class="col span-1-of-3">
            <a href="http://techdefencelabs.com"><img id = "cslogo" src = "{%static 'img/partners/techdefence.png'%}"><p><b>Techdefence LABS</b></p></a><p>Ethical Hacking<br><br><br></p>
        </div>
        <div class="col span-1-of-3">
            <a href="http://www.eisystems.in"><img id = "cslogo" src = "{%static 'img/partners/EISystems.jpg'%}"><p><b>EI Systems</b></p></a><p>Android Application Development<br>Internet of Things<br>ArduinoBOTICS</p>
        </div>
    </div>
    <div class="row">
        <div class="col span-1-of-3">
            <a href="https://www.airbus.com"><img id="cslogo" src="{%static 'img/partners/AIRBUS_RGB.png'%}"><p><b>AIRBUS</b></p></a><p>Aeromodelling</p>
        </div>
    </div>
</section>

<section id="section other-partners">
    <div class="row">
        <div class="col span-1-of-3">
            <p id="cssubsubtitle">Internship Partners<br><br></p><a href="https://internshala.com/"><img id="cslogo" src="{%static 'img/partners/internshala.png'%}"><p><b>Internshala</b></p></a><p>Campus Ambassador</p>
        </div>
        <div class="col span-1-of-3">
            <p id="cssubsubtitle">Accomodation Partners<br><br></p><a href="https://www.oyorooms.com/"><img id = "cslogo" src = "{%static 'img/partners/OYO.jpg'%}"><p><b>OYO Rooms</b></p></a><p><br></p>
        </div>
        <div class="col span-1-of-3">
            <p id="cssubsubtitle">Energy Partners<br><br></p><a href="https://www.monsterenergy.com/"><img id = "cslogo" src = "{%static 'img/partners/Monster Energy.jpg'%}"><p><b>Monster Energy</b></p></a><p><br></p>
        </div>
    </div>
    <div class="row">
        <div class="col span-1-of-3">
            <p id="cssubsubtitle">Wellness Partners<br><br></p><a href="https://www.vlccwellness.com/India/"><img id="cslogo" src="{%static 'img/partners/VLCC.jpg'%}"><p><b>VLCC</b></p></a><p>Lasya Prize Partners</p>
        </div>
    </div>
</section>

<section id="section artist-management">
    <div id="cssubsubtitle">Artist Management</div>
    <div class="row">
        <div class = "col span-1-of-3">
        <a href="https://www.facebook.com/bohemianlive/"><img id = "cslogo" src = "{%static 'img/partners/Bohemian.png'%}"><p><b>Bohemian LIVE</b></p></a><p>TesseracT<br><br></p>
            </div>
        <div class="col span-1-of-3">
            <a href="http://7entertainment.in/"><img id = "cslogo" src = "{%static 'img/partners/7ent.png'%}"><p><b>7Entertainment</b></p></a><p>Lagori<br><br></p>
        </div>
        <div class="col span-1-of-3">
            <a href=""><img id = "cslogo" src = "{%static 'img/partners/arpan.jpg'%}"><p><b>Arpan Thejas Productions</b></p></a><p>Baiju Dharmajan<br>GATC</p>
        </div>
    </div>
</section>


<script src="{%static 'js/navBar.js'%}"> </script>
{% endblock %}
