{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/hamburger.css'%}">
    <link rel="icon" href="{%static 'img/logo-gold.gif'%}">

    <title>Workshops | Pravega 2019, IISc Bangalore</title>
    <link href="https://fonts.googleapis.com/css?family=Salsa|Oregano|Expletus+Sans|Overlock+SC|Voces|Cinzel+Decorative:400,700|Coda|Salsa|Titillium+Web:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/team.css'%}">
{% endblock %}

{% block content %}
  <div class="main">
    <h3>  Core Team</h3>

    <div class="members-container">
      <div class="member-area">
          <h4 class="member-name">Shrey Gupta</h4>
          <img class="member-image" src="{%static 'img/team/nivedkrishnans.jpg'%}"  />
          <p class="member-designation">Chief Coordinator</p>
          <p class="member-mail">niveds@iisc.ac.in</p>
      </div>
    </div>

    <div class="members-container">
      <div class="member-area">
          <h4 class="member-name">Nived Krishnan S</h4>
          <img class="member-image" src="{%static 'img/team/nivedkrishnans.jpg'%}"  />
          <p class="member-designation">Web & Software</p>
          <p class="member-mail">niveds@iisc.ac.in</p>
      </div>
      <div class="member-area">
          <h4 class="member-name">Nived Krishnan S</h4>
          <img class="member-image" src="{%static 'img/team/nivedkrishnans.jpg'%}"  />
          <p class="member-designation">Web & Software</p>
          <p class="member-mail">niveds@iisc.ac.in</p>
      </div>
      <div class="member-area">
          <h4 class="member-name">Nived Krishnan S</h4>
          <img class="member-image" src="{%static 'img/team/nivedkrishnans.jpg'%}"  />
          <p class="member-designation">Web & Software</p>
          <p class="member-mail">niveds@iisc.ac.in</p>
      </div>
      <div class="member-area">
          <h4 class="member-name">Nived Krishnan S</h4>
          <img class="member-image" src="{%static 'img/team/nivedkrishnans.jpg'%}"  />
          <p class="member-designation">Web & Software</p>
          <p class="member-mail">niveds@iisc.ac.in</p>
      </div>
      <div class="member-area">
          <h4 class="member-name">Nived Krishnan S</h4>
          <img class="member-image" src="{%static 'img/team/nivedkrishnans.jpg'%}"  />
          <p class="member-designation">Web & Software</p>
          <p class="member-mail">niveds@iisc.ac.in</p>
      </div>
      <div class="member-area">
          <h4 class="member-name">Nived Krishnan S</h4>
          <img class="member-image" src="{%static 'img/team/nivedkrishnans.jpg'%}"  />
          <p class="member-designation">Web & Software</p>
          <p class="member-mail">niveds@iisc.ac.in</p>
      </div>
    </div>

    <h3>  Event Coordinators</h3>

    <div class="members-container">
      <div class="member-area">
          <h4 class="member-name">Nived Krishnan S</h4>
          <img class="member-image" src="{%static 'img/team/nivedkrishnans.jpg'%}"  />
          <p class="member-designation">Web & Software</p>
          <p class="member-mail">niveds@iisc.ac.in</p>
      </div>
      <div class="member-area">
          <h4 class="member-name">Nived Krishnan S</h4>
          <img class="member-image" src="{%static 'img/team/nivedkrishnans.jpg'%}"  />
          <p class="member-designation">Web & Software</p>
          <p class="member-mail">niveds@iisc.ac.in</p>
      </div>
      <div class="member-area">
          <h4 class="member-name">Nived Krishnan S</h4>
          <img class="member-image" src="{%static 'img/team/nivedkrishnans.jpg'%}"  />
          <p class="member-designation">Web & Software</p>
          <p class="member-mail">niveds@iisc.ac.in</p>
      </div>
      <div class="member-area">
          <h4 class="member-name">Nived Krishnan S</h4>
          <img class="member-image" src="{%static 'img/team/nivedkrishnans.jpg'%}"  />
          <p class="member-designation">Web & Software</p>
          <p class="member-mail">niveds@iisc.ac.in</p>
      </div>
      <div class="member-area">
          <h4 class="member-name">Nived Krishnan S</h4>
          <img class="member-image" src="{%static 'img/team/nivedkrishnans.jpg'%}"  />
          <p class="member-designation">Web & Software</p>
          <p class="member-mail">niveds@iisc.ac.in</p>
      </div>
    </div>
  </div>
  <script src="{%static 'js/navBar.js'%}"> </script>

{% endblock %}
