{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}
{% load humanize %}
{% load index %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/hamburger.css'%}">
    <link rel="icon" href="{%static 'img/logo-gold.gif'%}">

    <title>Updates | Pravega 2019, IISc Bangalore</title>
    <link href="https://fonts.googleapis.com/css?family=Overlock+SC|Josefin+Sans:400|Titillium+Web:300,400,600,700|Roboto|Stardos+Stencil:700" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/updates.css'%}">
{% endblock %}

{% block content %}
    <div id="main">
        <div class="heading">Updates</div>
        <div class="horizontal-line"></div>
        {% for update in updates %}
            <div class="update-container">
                <div class="date-card">
                    <div class="update-date">{{ update.publish_date.day }}</div>
                    <div class="update-month">{{ updateMonth|index:forloop.counter0 }}</div>
                </div>
                <div class="data-region">
                    <div class="update-text">{{ update.text|safe }}</div>
                    <div class="update-ago">{{ update.publish_date|naturaltime }}</div>
                </div>
            </div>
            {% endfor%}
        </div>

    </div>

    <script>
        var navBar = document.getElementById("navBar");
        var navMobile = document.getElementById('navBarMobile');
        var homeNav = document.getElementById("homeNav");
        var ham = document.getElementById('hamburgerButton');
        var navDisplay = false;     //whether or not nav menu is displayed on mobile
        var navSets = document.getElementsByClassName("navLinkSet");

        window.onresize = function(){
            toggleNavMobile(false);
            if(document.documentElement.clientWidth >= 760){

                navSets[0].style.flex = "4 0 0";
                navSets[1].style.flex = "1 0 0";
                navSets[2].style.flex = "4 0 0";
                navBar.style.top = "0";
            }
            else{
                navSets[0].style.flex =  "1 0 100%";
                navSets[1].style.flex =  "1 0 100%";
                navSets[2].style.flex =  "1 0 100%";
            }
        };

        window.onload = function(){
            toggleNavMobile(false);
            if(document.documentElement.clientWidth >= 760){

                navSets[0].style.flex = "4 0 0";
                navSets[1].style.flex = "1 0 0";
                navSets[2].style.flex = "4 0 0";
                navBar.style.top = "0";
            }
            else{
                navSets[0].style.flex =  "1 0 100%";
                navSets[1].style.flex =  "1 0 100%";
                navSets[2].style.flex =  "1 0 100%";
            }
        };

        function toggleNavMobile(disp){         //shows nav menu for mobile if argument is true, otherwise hides

            if(!disp){
                navMobile.style.borderBottom = "#ffee9c solid 1px";
                navBar.style.top = "-280px";
                ham.classList.remove('is-active');
                homeNav.style.opacity= "0";
            }
            else{
                navMobile.style.borderBottom = "#000000 solid 1px";
                navBar.style.top = "44px";
                ham.classList.add('is-active');
                homeNav.style.opacity= "1";
            }
            navDisplay = !navDisplay;
        }

        ham.addEventListener("click", function() {
            toggleNavMobile(!navDisplay);
            }, true);

    </script>
{% endblock %}
