{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}
{% load humanize %}
{% load index %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/hamburger.css'%}">
    <link rel="icon" href="{%static 'img/logo-gold.gif'%}">

    <title>Updates | Pravega 2019, IISc Bangalore</title>
    <link href="https://fonts.googleapis.com/css?family=Overlock+SC|Josefin+Sans:400|Titillium+Web:300,400,600,700|Roboto|Stardos+Stencil:700" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/updates.css'%}">
{% endblock %}

{% block content %}
    <div id="main">
        <div class="heading">Updates</div>
        <div class="horizontal-line"></div>
        {% for update in updates %}
            <div class="update-container">
                <div class="date-card">
                    <div class="update-date">{{ update.publish_date.day }}</div>
                    <div class="update-month">{{ updateMonth|index:forloop.counter0 }}</div>
                </div>
                <div class="data-region">
                    <div class="update-text">{{ update.text|safe }}</div>
                    <div class="update-ago">{{ update.publish_date|naturaltime }}</div>
                </div>
            </div>
            {% endfor%}
        </div>

    </div>

    <script src="{%static 'js/navBar.js'%}"> </script>
{% endblock %}
