{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/hamburger.css'%}">
    <link rel="icon" href="{%static 'img/logo-gold.gif'%}">

    <title>Wikimedia India Photography Contest| Pravega 2019, IISc Bangalore</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400|Overlock+SC|Fira+Sans+Condensed:400,400i,600,600i" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/eventdetails.css'%}">

	<link rel="stylesheet" href="{%static 'css/onepage-scroll.css'%}" />
	<link rel="stylesheet" href="{%static 'css/eventstyle.css'%}" />
	<script src="{%static 'js/jquery.js'%}" rel="text/javascript" ></script>
	<script src="{%static 'js/jquery.onepage-scroll.js'%}" rel="text/javascript" ></script>
{% endblock %}

{% block content %}
<div id="main" class="main" >
		<section  style="background-color:rgba(8,8,8,0.5);">
		<div class="slide">

        <div class="heading">Wikimedia India Photography Contest</div>
        <div class="horizontal-line"></div>
        <div class="main-section">

            <p>
                Pravega brings to you a very unique photography contest. You get to do what you love (Photography), contribute to free online open source content on Wikimedia Commons, and also earn while you do so! Earn a fully sponsored trip around Bangalore and stand a chance to win prizes worth 10,000!
            </p>
            <div class="event-essentials">
                <a href="{% url 'wikimediaphotographyRegistration' %}"><div class="yellow-status"><!-- &#10010; -->  Submit Now</div></a>
            </div>
		</div>
		</div>
		</section >
        <section  style="background-color:rgba(8,8,8,0.5);">
		<div class="slide">
        <div class="main-section">
            <div class="section-heading">How Do I Participate?</div>
            <div class="horizontal-line"></div>
            <ul>
                <li style="margin-top:8px;">No restriction on age group, anyone with access to a device that can take images.
                </li><li style="margin-top:8px;">Create a user account on Wikimedia, upload your photos on Wikimedia Commons, and share the link(s) of the images in the submissions portal. <a style="color:rgb(255,255,240);text-decoration:underline;" href="https://commons.wikimedia.org/wiki/Commons:First_steps/Uploading_files">How?</a>
                </li><li style="margin-top:8px;">You can continue to submit photos till December 10th, 2018.
                </li><li style="margin-top:8px;">You can submit only five photos, but you can edit your submissions till 11:59 PM December 10th, 2018.
                </li><li style="margin-top:8px;">Top 20 submitters will be announced on 15th December 2018.
                </li>
            </ul>
			</div>
        </div>

		</section  >
			<section style="background-color:rgba(8,8,8,0.5);">
		<div class="slide">
        <div class="main-section">
            <div class="section-heading">What Next?</div>
            <div class="horizontal-line"></div>

            <!--<p>
                Travel allowance and proper accommodation for the duration of the event will be provided for the finalists.
            </p>-->
            <p>
                The top 20 will be invited for a bus tour in and around Bangalore on 12th January 2019 to different scenic and photography hotspots for a photoshoot.
            </p>
            <p>
              The finalists will have to submit your photographs from the tour within a week’s time post-processing (if any) and the winners will be announced by 15th February 2019.
            </p>
            <p>
              Travel allowance will not be provided for participants to arrive at IISc
            </p>

        </div>
		</div>
		</section >
		<section  style="background-color:rgba(8,8,8,0.5);">
		<div class="slide">
        <div class="main-section">
            <div class="section-heading">Any Questions?</div>
            <div class="horizontal-line"></div>

            <p>
              Contact our Photography Event Coordinator, Ramachandra Bangari
            </p>
            <p>
              ramachandrab@iisc.ac.in
            </p>


			</div>
        </div>

		</section >

		<section style="background-color:rgba(8,8,8,0.5);">

		<!--The id "last" is imoprtant to handle the footer during reizes-->
		<div class="slide" id="last">
        <div class="main-section">
            <div class="section-heading">Submissions</div>
            <div class="horizontal-line"></div>
                <p>
                  Submissions will be accepted only through the online portal. Submissions for the online round closes on December 10th, 2018.
                </p>
				<div class="event-essentials">
                    <a href="{% url 'wikimediaphotographyRegistration' %}"><div class="yellow-status"><!-- &#10010; --> Submit Now</div></a>
                </div>
        </div>

		</div>
		<div id="footer-id">



{% endblock %}

{%block postfooter %}
		</div>
		</section>
</div>
<script src="{%static 'js/navBar.js'%}"> </script>
<script src="{%static 'js/slideScroll.js'%}"></script>
{%endblock %}
