{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/hamburger.css'%}">
    <link rel="icon" href="{%static 'img/logo-gold.gif'%}">

    <title>Workshops | Pravega 2019, IISc Bangalore</title>
    <link href="https://fonts.googleapis.com/css?family=Overlock+SC|Voces|Cinzel+Decorative:400,700|Coda|Salsa" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/workshops.css'%}">
{% endblock %}

{% block content %}
  <div class="main">
    <h3>Workshops<span style="font-size:0.8em;"> *</span></h3>
    <p style="text-align:center; margin: -22px auto 14px auto ; width:90%; max-width: 720px; font-size:14px;"><span style="font-size:1.5em;"> * </span>The vendor companies hold the rights to change the course and structure of the the workshop without any prior notice. Pravega or IISc is not responsible for any inconveniences caused due to this.</p>
    <div style="display:flex; flex-direction:row; justify-content:center;">
            <a class='mainLink' href="https://www.thecollegefever.com/events/pravega-19" target="_blank">Workshops Registration</a>
            <a class='mainLink' href="https://www.thecollegefever.com/events/accommodation-pravega-2019" target="_blank">Accommodation Booking</a>
    </div>
    <div class="events-container">
      <div class="event-area">
          <h4 class="event_title">3D Printing</h4>
          <img class="event_logo" src="{%static 'img/workshops/3D printing.png'%}" alt="pravega innovation summit" />
          <p class="event_text">This workshop introduces the participants to 3D Printing and the related softwares.</p>
          <p class="event_time">19 - 20 Jan 2019</p>
          <a href="{% static 'docs/workshops/3d printer.pdf' %}" target="_blank"><div class="seeMore"> Download PDF </div></a>
      </div>
      <div class="event-area">
          <h4 class="event_title">Android Application Development</h4>
          <img class="event_logo" src="{%static 'img/workshops/aap.png'%}" alt="pravega innovation summit" />
          <p class="event_text">This workshop aims to introduce the participants to Android Application Development. The participants are required to have pre-requisite knowledge of Java.</p>
          <p class="event_time">19 - 20 Jan 2019</p>
          <a href="{% static 'docs/workshops/Android Application Development.pdf' %}" target="_blank"><div class="seeMore"> Download PDF </div></a>
      </div>
      <div class="event-area">
          <h4 class="event_title">ArduinoBotics</h4>
          <img class="event_logo" src="{%static 'img/workshops/ArduinoBOTICS.png'%}" alt="pravega innovation summit" />
          <p class="event_text">This workshop aims to introduce the participants to Robotics using Arduino based programming.</p>
          <p class="event_time">17 - 18 Jan 2019</p>
          <a href="{% static 'docs/workshops/ArduinoBotics.pdf' %}" target="_blank"><div class="seeMore"> Download PDF </div></a>
      </div>
      <div class="event-area">
          <h4 class="event_title">Artificial Intelligence and Machine Learning</h4>
          <img class="event_logo" src="{%static 'img/workshops/artificial intelligence.png'%}" alt="pravega innovation summit" />
          <p class="event_text">This workshop will introduce and gives hands on sessions about Artificial Intelligence and Machine Learning (AI&ML) to participants which is organised by Wisdomware India and deliver by Mr. Chandan Verma.</p>
          <p class="event_time">19 - 20 Jan 2019</p>
          <a href="{% static 'docs/workshops/ML&AI_IISC.pdf' %}" target="_blank"><div class="seeMore"> Download PDF </div></a>
      </div>
      <div class="event-area">
          <h4 class="event_title">Augmented Interface</h4>
          <img class="event_logo" src="{%static 'img/workshops/Augmented Interface Module.jpg'%}" alt="pravega innovation summit" />
          <p class="event_text">Augmented Interface is a two days workshop in which participants will be introduced to the augmented world and the students will be taught to make their own Augmented Interface using Gestures.</p>
          <p class="event_time">19 - 20 Jan 2019</p>
          <a href="{% static 'docs/workshops/Augmented Interface.pdf' %}" target="_blank"><div class="seeMore"> Download PDF </div></a>
      </div>
      <div class="event-area">
          <h4 class="event_title">AutoCAD</h4>
          <img class="event_logo" src="{%static 'img/workshops/indialabs_logo.png'%}" alt="pravega innovation summit" />
          <p class="event_text">This course covers the essential core topics for working with AutoCAD. </p>
          <p class="event_time">19 - 20 Jan 2019</p>
          <a href="{% static 'docs/workshops/AutoCAD.pdf' %}" target="_blank"><div class="seeMore"> Download PDF </div></a>
      </div>
      <div class="event-area">
          <h4 class="event_title">Big data</h4>
          <img class="event_logo" src="{%static 'img/workshops/BigData.png'%}" alt="pravega innovation summit" />
          <p class="event_text">Big Data Analysis & Hadoop workshop is conceptualized by some top industry professionals in association with HT India Labs.</p>
          <p class="event_time">18 - 19 Jan 2019</p>
          <a href="{% static 'docs/workshops/Big data.pdf' %}" target="_blank"><div class="seeMore"> Download PDF </div></a>
      </div>
      <div class="event-area">
          <h4 class="event_title">Design Thinking</h4>
          <img class="event_logo" src="{%static 'img/workshops/design thinking.png'%}" alt="pravega innovation summit" />
          <p class="event_text">This aims to improve a students's all-round performance in many fields.</p>
          <p class="event_time">19 - 20 Jan 2019</p>
          <a href="{% static 'docs/workshops/Design Engineering – Skills for Success - Technical Workshop.pdf' %}" target="_blank"><div class="seeMore"> Download PDF </div></a>
      </div>
      <div class="event-area">
          <h4 class="event_title">Electronic and Hybrid Vehicles</h4>
          <img class="event_logo" src="{%static 'img/workshops/final EHV.png'%}" alt="pravega innovation summit" />
          <p class="event_text">This workshop aims to introduce the participants to electric and hybrid vehicles which are surely to be replacing IC engines in the near future.</p>
          <p class="event_time">19 - 20 Jan 2019</p>
          <a href="{% static 'docs/workshops/EV & HEV Training Content - HarithaTechlogix.pdf' %}" target="_blank"><div class="seeMore"> Download PDF </div></a>
      </div>
      <div class="event-area">
          <h4 class="event_title">Ethical Hacking</h4>
          <img class="event_logo" src="{%static 'img/workshops/ethical hacking.png'%}" alt="pravega innovation summit" />
          <p class="event_text">This workshop aims to introduce the participants to Ethical Hacking and to give a live demonstration of different Cyber Attacks, Hands on Practice on Web Application Assessment & Penetration Testing, Cyber Crime Investigations & explain how security analysts & cyber crime investigators use techniques to solve these vulnerabilities & organized crimes.</p>
          <p class="event_time">17 - 18 Jan 2019</p>
          <a href="{% static 'docs/workshops/TechDefence 2 days Workshops.pdf' %}" target="_blank"><div class="seeMore"> Download PDF </div></a>
      </div>
      <div class="event-area">
          <h4 class="event_title">Humanoid Robotics</h4>
          <img class="event_logo" src="{%static 'img/workshops/Humanoid robo-1.png'%}" alt="pravega innovation summit" />
          <p class="event_text">This workshop Introduces the participants to Humanoid Robots.</p>
          <p class="event_time">19 - 20 Jan 2019</p>
          <a href="{% static 'docs/workshops/humanoid.pdf' %}" target="_blank"><div class="seeMore"> Download PDF </div></a>
      </div>
      <div class="event-area">
          <h4 class="event_title">Internet of Things using NodeMCU</h4>
          <img class="event_logo" src="{%static 'img/workshops/IoT final.jpg'%}" alt="pravega innovation summit" />
          <p class="event_text">This workshop introduces the participants to the world of Internet of Things using NodeMCU.</p>
          <p class="event_time">19 - 20 Jan 2019</p>
          <a href="{% static 'docs/workshops/Internet of Things using NodeMCU.pdf' %}" target="_blank"><div class="seeMore"> Download PDF </div></a>
      </div>
      <div class="event-area">
          <h4 class="event_title">StaadPro</h4>
          <img class="event_logo" src="{%static 'img/workshops/indialabs_logo.png'%}" alt="pravega innovation summit" />
          <p class="event_text">Staad.pro is a computer aided analysis and design software used to solve the multistory structures indeterminacy in few seconds by dividing the entire structure into elements with most accuracy.</p>
          <p class="event_time">17 - 18 Jan 2019</p>
          <a href="{% static 'docs/workshops/StaadPro.pdf' %}" target="_blank"><div class="seeMore">  Download PDF </div></a>
      </div>
    </div>
    </div>

  </div>
  <script src="{%static 'js/navBar.js'%}"> </script>

{% endblock %}
