body{
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
	color: inherit;
}

#top-bar{
	background-color: #f4f5f7;
	position: fixed;
	box-sizing: border-box;
	margin: 0;
	top:0;
	left:0;
	right:0;
	display: block;
	box-shadow: 0 1px 10px 1px black;
	z-index: 0.5;
}

#top-bar-menu{
	margin: 0;
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	justify-content: flex-end;
	font-family: Lato;
	font-weight: 800;
	color: #2d3333;
	min-height: inherit;
}

.top-bar-menu-item{
	color: #2d3333;
	box-sizing: border-box;
	text-decoration: none;
	min-height: inherit;
	text-align: center;
	transition: 0.2s all;
}

.top-bar-menu-item:hover{
	color: #04d3d3;
	border-bottom: #04d3d3 2px solid;
}

#side-nav{
	box-sizing: border-box;
	font-family: sans-serif;
	background-color: #f4f5f7;
	position: absolute;
}

.side-nav-links{
	flex-direction: column;
	display: flex;
}

.main p{

	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
}

.side-nav-item{
	color: #2d3333;
	transition: 0.2s all;
}

.side-nav-item:hover{
	color: #04d3d3;
}

@media (min-width:1200px) {

	#top-bar{
		padding: 0 14px;
		height: 56px;
	}

	.top-bar-menu-item{
		font-size: 16px;
		padding: 14px 0;
		margin-right: 14px;
	}



	#side-nav{
		padding: 16px;
		width: 256px;
		top: 60px;
	}


	.side-nav-item{
		padding: 14px;
		margin: 4px;
		font-size: 16px;
	}


	.main{
		margin: 24px;
		margin-top: 60px;
		margin-left: 256px;
		padding: 28px;
	}

	.main p{

		text-indent: 24px;
		font-size: 20px;
	}
}

@media (min-width:1800px) {

	#top-bar{
		padding: 0 20px;
		height: 78px;
	}

	.top-bar-menu-item{
		font-size: 22px;
		padding: 20px 0;
		margin-right: 20px;
	}



	#side-nav{
		padding: 22px;
		width: 358px;
		top: 82px;
	}


	.side-nav-item{
		padding: 20px;
		margin: 6px;
		font-size: 22px;
	}

	.side-nav-item:hover{
		background-color:rgba(250,250,250,1);
	}


	.main{
		margin: 34px;
		margin-top: 82px;
		margin-left: 358px;

		padding: 40px;
		padding: 28px;
	}

	.main p{

		text-indent: 30px;
		font-size: 28px;
	}
}
