html{
    padding: 0;
    margin: 0;
}


#main{
    background-color: rgba(8,8,8,0.8);
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    padding: 20vw 4px 196px 4px;
}
#cslogo{
    width: 30vw;
    align-self: center;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 14px;
}
#cstitle{
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
}
#cssubtitle{
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
}

#cssubsubtitle{
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    text-align: center;
}
.wanna-contact{
    margin-top: 14px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-size: 20px;
}

@media (min-width:760px) {
    #main{
        padding: 128px 96px 196px 96px;
    }

    #cslogo{
        width: 196px;
    }

    #cstitle{
        font-size: 38px;
    }

    #cssubtitle{
        font-size: 30px;
    }

    #cssubsubtitle{
        font-size: 22px;
    }
    .wanna-contact{
        margin-top: 14px;
        font-family: 'Dosis', sans-serif;
        text-align: center;
        font-size: 20px;
    }

}

@media (min-width: 992px) {
    #main{
        padding: 128px 196px 196px 196px;
    }
    #cstitle{
        font-size: 44px;
    }
    #cssubtitle{
        font-size: 32px;
    }
    #cssubsubtitle{
        font-size: 20px;
    }

}

@media (min-width: 1800px) {
    #main{
        padding: 160px 234px 196px 234px;
    }
}
