.main{
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgba(17,17,17,0.9);
  background-image: none;
}

#categories a{
    align-self: center;
    color: inherit !important;
    padding: 0 !important;
    margin: 8px 2px !important;
    width: auto !important;
    height: auto !important;
    max-width: 100px;
    max-height: 40px;
    display: inline-block;
}
#categories a:hover{
    color: rgb(255,255,240) !important;
}

.rotateACW{
  transform: rotate(-90deg);
  font-size:inherit;
  flex-direction: row !important;
}
.inactiveFilter{
    filter: grayscale(70%) brightness(0.7);
}

#categories h2{
    padding: 14px;
    margin: 0;
    text-align: center;
    font-size: inherit !important;
    transition: all 0.4s;
    font-family: 'Voces', cursive, script;
    font-weight: 400;
}

.subcategory_title{
    padding: 4px;
    margin: 4px;
    text-align: center;
    font-size: 36px;
    transition: all 0.4s;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 400;
}
.event_title{
    padding: 0;
    margin: 2px auto;
    text-align: center;
    font-size: 28px;
    transition: all 0.4s;
    font-family: 'Coda', cursive;
    font-weight: 400;
    text-transform: none;
}

.main-category{
    filter: brightness(0.9);
    transform: translate3d(0,0,0);
    background-size: 200% auto;
    background-position: top;
    background-attachment: scroll;
    background-repeat: repeat;
}

#category1{
    background-image: url(../img/events/pis.png);
}

#category2{
    background-image: url(../img/events/technical.png);
}

#category3{
    background-image: url(../img/events/science.png);
}

#category4{
    background-image: url(../img/events/quiz.png);
}

#category5{
    background-image: url(../img/events/culture.png);
}

#categories{
  margin: 50px 0 0 0;
  height: auto;
  display: flex;
  flex-direction: column;
}
.category-content{
  font-size: 44px;
  width: 100%;
}

.category-content-contents{
    height: 100%;
    width: 100%;
}

.category-display{
  min-height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}
.category-display-content-1{
    padding: 14px 14px 0 14px;
    font-size: 36px;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.category_text{
    padding: 0;
    margin: 4px 28px 14px 28px;
    font-family: 'Coda', cursive;
    font-size: 18px;
}

.category-logo{
    padding: 14px;
    height: 1em;
    width: 1em;
    object-fit: contain;
    margin: 0;
    transform: scale(1.2,1.2);
}


.main-category{
    box-sizing: border-box;
    position: relative;
    border: none;
    margin: 14px;
    box-shadow: 8px 8px 14px rgba(8,8,8,0.9);
    background-color: rgba(200,20,20,0.6);
    min-height: 20px;
    height: auto;
    transition: flex-grow 0.6s, flex-shrink 0.6s, filter 0.2s;
  }
  .events-container{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
  }

  .event-area{
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: flex-start;
      background-color: rgba(8,8,8,0.4);
      border-radius: 2px;
      margin: 18px;
      min-height: 200px;
      height: auto;
      width: 80%;
      padding: 12px;
  }

  .event_logo{
      width: 120px;
      height: 120px;
      margin: 2px auto;
  }

  .event_text{
      padding: 0;
      margin: 2px auto;
      font-size: 24px;
      font-family: 'Coda', cursive;
      text-align: center;
      min-height: 80px;
  }

  .seeMore{
      font-size: 16px;
      text-align: center;
      width: auto;
      height:auto;
      padding: 8px 14px;
      border: 2px solid rgba(255,255,240,1);
      display: block;
      margin: 0;
      color: rgba(255,255,240,1);
  }
  .seeMore:hover{
      border: 2px solid rgba(255,255,240,1);
      background-color: rgba(255,255,240,0.9);
  }

  #category1 .seeMore:hover{
      color: rgba(100,100,255,1);
  }
  #category2 .seeMore:hover{
      color: rgba(100,225,100,1);
  }
  #category3 .seeMore:hover{
      color: rgba(255,100,100,1);
  }
  #category4 .seeMore:hover{
      color: rgba(100,100,255,1);
  }
  #category5 .seeMore:hover{
      color: rgba(100,225,100,1);
  }


  .closeButton{
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent !important;
      border: none;
      font-size: 40px;
      cursor: pointer;
      color: rgb(255,255,240,0.9);
      transition: color 0.3s;
      display: none;
  }
  .closeButton:hover{
      outline: none;
      color: rgb(255,255,255,0.9);
  }
  .closeButton:focus{
      outline: none;
      color: rgb(180,180,180,0.9);
  }
  .closeButton:active{
      outline: none;
      color: rgb(180,180,180,0.9);
  }


@media(max-width:759px){
    .simplebar-offset{
        right: 0 !important;
    }
    .simplebar-content{
        padding: 0 !important;
    }
    .category-content-contents{
        overflow: hidden;
    }
}

@media(min-width:760px){
    #navBar a .big{
        display: none;
    }
    #navBar a .small{
        padding: 0;
    }
    #navBar{
        height: 40px;
    }
    .event_text{
        font-size: 18px;
    }
    .event_title{
        font-size: 22px;
        min-height: 3em;
    }
    .closeButton{
        top: 14px;
        right: 14px;
    }
    #categories h2{
        padding: 14px;
        margin: 0;
        text-align: center;
        font-size: 2.5vw;
        transition: all 0.4s;
    }
    .rotateACW{
      font-size: 1.8vw !important;
    }

  #categories{
    position: absolute;
    margin-top: 0;
    top: 50px;
    left: 4px;
    right: 4px;
    bottom: 10px;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .main-category{
      background-size: cover;
      background-attachment: fixed;
      background-position: 0 0;
      box-sizing: border-box;
    position: relative;
    border: none;
    margin: 4px;
    box-shadow: 8px 8px 40px rgba(8,8,8,0.9);
    background-color: rgba(200,20,20,0.6);
    min-height: 100%;
    height: auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    transition: flex-grow 0.6s, flex-shrink 0.6s, filter 0.2s;
    filter: grayscale(100%) brightness(0.5);
  }
  .main-category:hover{
      filter: grayscale(10%) brightness(1);
  }
  .category-display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .category-display-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width:100%;
  }
  .category-display-content-1{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      width:100%;
      font-size: 2.5vw;
  }
  .category-display-content-2{
      max-width: 240px;
      padding: auto 14px;
      height: auto;
      text-align: center;
  }
  .category_text{
      font-size: 1.5vw;

  }
  .category-logo{
      height: auto;
      width: auto;
      max-width: 120px;
      max-height: 120px;
      object-fit: contain;
      transition: max-height 0.6s, max-width 0.6s;
  }
  .category-content{
    font-size: 44px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .events-container{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
  }

  .event-area{
      display: flex;
      margin: 24px;
      min-height: 320px;
      width: 240px;
  }

  .coming-soon-event{
      margin-top: 100px;
       min-height: 220px;
  }
  .rotatedLogo{
      transform: rotate(90deg);
      max-height: 2.5vw;
      max-width: 2.5vw;
  }
}
