#main{
  background-color: rgba(0,0,0,0.6);
  min-height: 0;
  padding-bottom: 128px;
}

section {
    margin: 3%;
    margin-bottom: 1%;
    padding : 2%;
    background-color: rgba(0,0,0,0.6);
}

#section {
    display : block;
    padding: 2%;
    margin: 1%;
}
#bob {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    text-align: left;
    text-align: left;
}

p {
    margin: 1%;
    padding: 1%;
    text-align: center;
    font-family: 'Voces', script;
    color: black;
    font-size: 14px;
}


#white p{
    color: hsl(60, 100%, 93%);
}

#cslogo{
    height:150px;
    width:90%;
    object-fit: contain;
}

.col{
    box-sizing: border-box;
    padding: 16px;
    background-color: white;
}

#cslogo1 {
    height: 350px;
    max-height: 30vw;
    align-self: center;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5px;
}

#cssubsubtitle{
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  margin: 14px;
}


@media (max-width:759px){
  #main{
    padding-left: 30px;
    padding-right: 30px;
  }
  .col{
    margin: 16px auto !important;
  }
  #cslogo{
    max-height: 30vw;
  }
}

@media (min-width:760px) {
  #cslogo1 {
      max-height: 15vw;
  }
  #cssubsubtitle{
    font-size: 24px;
  }

  #cssubtitle{
    font-size: 28px;
  }
  #cstitle{
    font-size: 38px;
  }
}
