body{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	line-height: 1.5;
	color:  #d4bb55;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	
}

#bg{	
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	width: 100vw;
	z-index: -10;
	background-size: auto 80%;
	background-color: black;
	background-image: url(bg-triangles.svg);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

#bg-overlay{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	width: 100vw;
	z-index: -9;
	background-color: black;
	opacity: 0;
}


#top-bar{
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 6px 14px 6px 14px;
	background-color: black;


}

.top-bar-item{
	box-sizing: border-box;
	padding: 4px 6px;
	margin: 0 2px;
	text-decoration:none;
	align-self: flex-end;					/* Why ??*/
	text-align: center;
	font-size: 18px;
	color:  #d4bb55;
	height: 36px;
	border-bottom: black solid 1px;
	transition: all 0.2s ease 0s;
}

.top-bar-item:hover{
	color: #d4bb55;
	text-decoration:none;
	border-bottom: #d4bb55 solid 1px;
}

.active-page{
	font-weight: bold;
	border-bottom: #d4bb55 solid 2px;
	background-color: #02070a;
}


.top-logo, .top-logo:hover{
	padding: 0;
	margin: 0;
	height: 40px;
	border: 0;
}

.logo{
	height: 100%;
	
}

#social-bar{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: #d4bb55;
}

#social-bar a svg{
	margin: 6px 8px 4px 8px;
	padding: 0;
	height: 28px;
	width: 28px;
}




#main{
	box-sizing: border-box;
	display: block;
	margin: 84px 56px;
}








.ref{		/* ignore for now*/
	color: white;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%);
	font-size: 32px;
}





