body{
    margin:0;
    padding:0;
    background-color:#0f0e0e;
    height:100%;
}

.main-content{
    color: rgb(255,255,240);
    padding: 48px 256px;
    background-color: rgba(0,0,0,0.5);
    font-size: 16px;
}

.main-conntent p{
    font-family:"Titillium Web",sans-serif;
}

@media (max-width: 800px) {
    .main-content{
        padding: 32px 64px;
    }
}

.hline{
    height: 2px;
    background-color: rgba(255,255,240,0.8);
}

.main-area a:hover{
    color: #f6f6f6 !important;
}
.main-area{
    padding-top: 100px;
}

.background{
    z-index:-1;
    position:fixed;
    width:100%;
    height:100%;
    background-color:#0f0e0e;
    overflow: hidden;
}

/*-------------------------------------------------------------------------------------*/

/*the following two divs are used to determine the size of the runes in the background*/
.rune{
    height:100px;
    width:100px;
}

.rune2{
    height:70px;
    width:70px;
}

/*styling properties for the 3 different sets (layers) of the runes floating in the background*/
.set{
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
}

.set div{
    position:absolute;
    display:block;
}

/*sets a position to each individual runes in set1 (which are inherited by the other two sets) from where it animates randomly using some tweaks in values for animation*/
.set div:nth-child(1)
{
    left:20%;
    animation:animate 53s linear infinite;
    animation-delay: -5s;
}

.set div:nth-child(2)
{
    left:30%;
    animation:animate 33s linear infinite;
    animation-delay: -13s;
}

.set div:nth-child(3)
{
    left:27%;
    animation:animate 55s linear infinite;
    animation-delay: 5s;
}

.set div:nth-child(4)
{
    left:80%;
    animation:animate 50s linear infinite;
    animation-delay:-22s;
}


.set div:nth-child(5)
{
    left:16%;
    animation:animate 50s linear infinite;
}

.set div:nth-child(6)
{
    left:20%;
    animation:animate 30s linear infinite;
}

.set div:nth-child(7)
{
    left:28%;
    animation:animate 40s linear infinite;
}

.set div:nth-child(8)
{
    left:30%;
    animation:animate 60s linear infinite;
}

.set div:nth-child(9)
{
    left:93%;
    animation:animate 20s linear infinite;
}

.set div:nth-child(10)
{
    left:13%;
    animation:animate 20s linear infinite;
}

.set div:nth-child(11)
{
    left:16%;
    animation:animate 20s linear infinite;
}
.set2{
    transform: scale(1.2) rotateY(180deg);
    filter: blur(2px);
}

.set3{
    transform: scale(0.6) rotateX(180deg);
    filter:blur(3px);
}

/*the animation which all of the runes will follow, this is general for all the symbols and additional tweaks are done in their individual sets or n-th child selectors as used earlier*/
@keyframes animate{
    0%{
        top:-10%;
        opacity:0;
    }

    20%{
        transform: translateX(20px) rotate(45deg);
    }

    30%{
       opacity:1;
    }

    60%{
        transform: translateX(-30px) rotate(120deg);
    }


    100%{
        top:100%;
    }
}

/*----------------------------------------------------------------------------------------------*/

/*CSS FOR THE  CARDS OF THE INDIVIDUAL ITEMS FOLLOW, THE FLEXBOX IMPLEMENTATION AUTOMATICALLY YIELDS A   CERTAIN AMOUNT OF RESPONSIVENES TO THE TEMPLATE*/

/*the container element for the item cards*/
.flex-container{
    margin-right: auto;
    margin-left:auto;
    height:80%;
    width:auto;
    max-width: 100vw;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/*box for individual item cards*/
.box{
    height:auto;
    min-height:350px;
    width:300px;
    margin-top:20px;
    margin-right:20px;
    margin-bottom:10px;
    background-color: rgba(0,0,0,0.7);
}

.box-image{
    width:90%;
    height:200px;
    margin:20px auto;


}
.box-image > img{
    width: 100%;
    height: 100%;
    max-height: 60vh;
    object-fit: contain;
}

.box-text{
    width:90%;
    height:auto;
    margin:20px auto;
}
.box-heading{
    font-family:"Titillium Web",sans-serif;
    font-size:20px;
    text-align: center;
    color:#f6f6f6;
}

.box-details{
    margin-top:10px;
    font-family:"Titillium Web",sans-serif;
    font-size:14px;
    color:#f6f6f6;
}


/*a flex box is implemented for the button container as well for responsiveness*/
.button-container{
    margin-bottom: 10px;
    justify-content: center;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*the three buttons which are at the bottom of each box*/
.button{
    box-sizing: border-box;
    color:#d6d6d6;
    font-family:"Titillium Web",sans-serif;
    text-align:center;
    width:200px;
    font-size: 20px;
    border:2px solid #d6d6d6;
    margin:5px;
    padding:3px 0px;
    vertical-align: middle;
    min-height: auto;
    height: auto;
    transition: all 0.2s;
}
.button:hover{
    color:white;
    transform: scale(1.01,1.01);
    border:2px solid white;
}

.button:active{
    color:white;
    transform: scale(1,1);
    border:2px solid white;
}

/*the main active box of the set*/
.active-box{
    height:auto;
    display:flex;
    justify-content: space-around;
    flex-direction:row;
    flex-wrap:wrap;
    margin:50px auto;
    width:720px;
    min-width:300px;
}

.active-box-img{
    margin:0px 20px 20px 20px;
    height:50%;
    width:80%;
    background-color:transparent;
}

.active-box-txt{
    margin:20px 20px;
    height:auto;
    width:80%;
}



.active-box-heading{
    font-size:30px;
}


/*some special visual emphasis for the buttons of the active tile*/
#main-button-container{
    width:90%;
}
.active-button{
    padding:5px 0px;
    width:25%;
    min-width:200px;
    max-height: 3em;
}



.seperator{
    background-color:black;
    width:100%;
    padding: 36px 10vw;
    margin:auto;
    text-align:center;
    color:#f6f6f6;
    font-family: 'Titillium Web', sans-serif;
    font-size:32px;
}

/*----------------------------------------------------------------------------------*/

/*USING MEDIA QUERIES FOR RESPONSIVENESS FOR MOBILE*/
@media(max-width:759px) {

    .main-content{
        padding: 48px 24px;
    }
    .main-area{
        padding-top: 60px;
    }

.flex-container{
        justify-content: center;
}
.box{
    width: auto;
    margin:10px auto;
    }
.box-details{
    font-size: 16px;
}
.active-box{
    height:auto;
    min-height:300px;
    width:auto;
    min-width:300px;
    margin:20px 4px;
    background-color:rgba(0,0,0,0.7);
}

.active-box-img{
    width:90%;
    height:200px;
    margin:20px auto;
}

.active-box-txt{
    width:90%;
    height:auto;
    margin:10px auto;
}

}
