body{
    padding: 0;
    margin: 0;
}

#main{
    background-color: rgba(8,8,8,0.7);
    box-sizing: border-box;
    min-height: 100vh;
    border: 1px rgba(0,0,0,0.1) solid;
    width: 100%;
    margin: 0;
    padding: 128px 24px 0 24px;
    color: rgb(255,255,240);
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}



.messages{
    color: #fcae2f;
}

.errors{
    color: #f72e18;
}

a:hover,a:active{
    color: inherit;
}


p{
    margin: 24px 0;
}

.heading{
    font-family: 'Titillium Web', sans-serif;
    font-size: 32px;
}

.buttonCollection{
    display: flex;
    justify-content: center;
}

.divButton,button{
    text-align: center;
    min-width: 80px;
    margin: 12px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid white;
    font-size: 16px;
    color: rgb(255,255,240);
    transition: all 0.2s;
}
.divButton:hover,button:hover{
    transform: scale(1.05,1.05);
    background-color: rgb(255,255,240);
    color: rgb(8,8,8);
    text-shadow: 0.5px 0.5px 0.5px  rgb(8,8,8);
}
.divButton:active,button:active{
    transform: scale(1,1);
    background-color: rgb(150,150,150);
    text-shadow: 0.5px 0.5px 0.5px  rgb(8,8,8);
}

button{
    background-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
    margin: 34px 24px 34px auto;
    display: block;
    border-radius: 4px;
    transition: all 0.2s;
}



.field-space{
    margin: 14px 0;
}

label{
    display: block;
    margin: 8px 0;
}
option{
    background-color: rgb(8,8,8);
    max-width: 100%;
}

select,input,textarea{
    box-sizing: border-box;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(255,255,240,0.3);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 4px 8px;
    color: rgba(255,255,240);
    display: block;
    background-color: rgba(8,8,8,0.3);
    margin: 8px 8px 8px 16px;
    width: 100%;
    transition: 0.2s all;
  }

textarea{
    border: 1px solid rgba(255,255,240,0.3);
}

select:hover,input:hover,textarea:hover{
    outline: 0px;
    border-bottom: 1px solid rgba(255,255,240,0.4);
}

select:focus,input:focus,textarea:focus{
    outline: 0px;
    background-color: rgba(120,120,120,0.1);
    border-bottom: 1px solid rgba(255,255,240,0.8);
}

input[type=file]{
    color: white;
    cursor: pointer;
}

@media (min-width: 760px) {
    #main {
      width: 600px;
      padding: 160px 48px 48px 48px;
      margin: 0 auto 12px auto;
    }
}
@media (min-width: 1200px) {
    #main {
      padding: 200px 48px 48px 48px;
      font-size: 18px;
    }
    input,textarea{
        font-size: 18px;
    }
    button{
        margin: 44px 2px 24px auto;
    }
    p {
      margin: 40px 0;
    }
    .heading {
      font-size: 36px;
    }
    .field-space {
      margin: 20px 0;
    }
}

@media (min-width: 1800px) {
    #main {
        width: 840px;
        padding: 220px 68px 68px 68px;
        font-size: 24px;
    }
    .divButton,button{
        font-size: 22px;
        margin: 24px;
    }
    input,textarea{
        font-size: 26px;
    }
    button{
        margin: 44px 2px 24px auto;
    }
    p {
      margin: 40px 0;
    }
    .heading {
      font-size: 44px;
    }
    .field-space {
      margin: 32px 0;
    }
}
