body{
    padding: 0;
    margin: 0;
}

*{
    word-wrap: break-word;
}

#main{
    background-color: rgba(8,8,8,0.7);
    box-sizing: border-box;
    min-height: 100vh;
    border: 1px rgba(0,0,0,0.1) solid;
    width: 100%;
    margin: 0;
    padding: 128px 24px 0 24px;
    color: rgb(255,255,240);
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

li{
    margin: 14px auto;
}

.messages{
    color: #fcae2f;
}

.errors,.errorlist{
    color: #f72e18;
}

a:hover,a:active{
    color: inherit;
}


p{
    margin: 24px 0;
}

.heading{
    font-family: 'Titillium Web', sans-serif;
    font-size: 32px;
}

.buttonCollection{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.divButton,#main button{
    text-align: center;
    min-width: 80px;
    margin: 12px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid white;
    font-size: 16px;
    color: rgb(255,255,240);
    transition: all 0.2s;
    background-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
}
.divButton:hover,#main button:hover{
    transform: scale(1.05,1.05);
    background-color: rgb(255,255,240);
    color: rgb(8,8,8);
    text-shadow: 0.5px 0.5px 0.5px  rgb(8,8,8);
}
.divButton:active,#main button:active{
    transform: scale(1,1);
    background-color: rgb(150,150,150);
    text-shadow: 0.5px 0.5px 0.5px  rgb(8,8,8);
}


.field-space{
    margin: 18px 0;
}

label{
    margin: 10px 0;
    display: block;
}
option{
    background-color: rgb(8,8,8);
    max-width: 100%;
}

select,input,textarea{
    box-sizing: border-box;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(255,255,240,0.3);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 4px 8px;
    color: rgba(255,255,240) !important;
    display: block;
    background-color: rgba(8,8,8,0.3);
    margin: 8px 8px 8px 16px;
    width: 100%;
    transition: 0.2s all;
  }

textarea{
    border: 1px solid rgba(255,255,240,0.3);
}

select:hover,input:hover,textarea:hover{
    outline: 0px;
    border-bottom: 1px solid rgba(255,255,240,0.4);
}

select:focus,input:focus,textarea:focus{
    outline: 0px;
    background-color: rgba(120,120,120,0.1);
    border-bottom: 1px solid rgba(255,255,240,0.8);
}

form   a{
    display: block;
}

input[type=file]{
    color: white;
    cursor: pointer;
}
input[type=checkbox]{
    display: inline-block;
    color: white;
    cursor: pointer;
    width: auto;
    margin: 14px 8px 20px 8px;
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
}
label[for=videoFile-clear_id]{
    display: inline-block;
    width: auto;
}



@media (min-width: 760px) {
    #main {
      width: 600px;
      padding: 160px 48px 48px 48px;
      margin: 0 auto 12px auto;
    }
    .buttonCollection{
        flex-direction: row;
    }
}
@media (min-width: 1200px) {
    #main {
      padding: 200px 48px 48px 48px;
      font-size: 18px;
    }
    input,textarea{
        font-size: 18px;
    }
    p {
      margin: 40px 0;
    }
    .heading {
      font-size: 36px;
    }
    .field-space {
      margin: 28px 0;
    }
}

@media (min-width: 1800px) {
    #main {
        width: 840px;
        padding: 220px 68px 68px 68px;
        font-size: 24px;
    }
    .divButton,#main button{
        font-size: 22px;
        margin: 24px;
    }
    input,textarea{
        font-size: 26px;
    }
    p {
      margin: 40px 0;
    }
    .heading {
      font-size: 44px;
    }
    .field-space {
      margin: 36px 0;
    }
}
