{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}
{% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Overlock+SC|Raleway:300,400|Dosis:300,400,700,800" rel="stylesheet">
        <link rel="stylesheet" href="{%static 'css/style.css'%}">
        <link rel="stylesheet" href="{%static 'css/hamburger.css'%}">
        <link rel="icon" href="{%static 'img/logo-gold.svg'%}">

        <title>Science Quizzine | Pravega</title>
        <link href="{%static 'originals/gallery.css'%}" type="text/css" rel="stylesheet">
        <!-- photoswipe -->
        <link href="{%static 'originals/src/photoswipe.css'%}" type="text/css" rel="stylesheet">
        <link href="{%static 'originals/src/default-skin/default-skin.css'%}" type="text/css" rel="stylesheet">
        <script src="{%static 'originals/src/photoswipe.min.js'%}"></script>
        <script src="{%static 'originals/src/photoswipe-ui-default.min.js'%}"></script>

{% endblock %}

{% block content %}
    <div id="main">
        <div class="heading">Science Quizzine</div>
        <div class="horizontal-line"></div>
        <div class="thumbnail-gallery">
            {% for image in images %}
                <div class="thumbnail-area">
                    <div class="thumbnail-container" onclick="openPhotoSwipeIndex({{ forloop.counter0 }});">
                      <img src="{{ MEDIA_URL }}{{ image.image_file.url }}" alt="{{ image.description }}"  class="hover-shadow cursor thumbnail">
                    </div>
                    <div class="thumbnail-caption"> {{ image.title }} </div>
                </div>
          {% endfor%}
        </div>


        <div class="heading">Let's Talk Science</div>
        <div class="horizontal-line"></div>
        <div class="video-gallery">
            {% for video in videos %}
                <div class="video-area">
                    <div class="video-container" onclick="openPhotoSwipeIndex({{ forloop.counter0 }});">
                      <iframe class="video-iframe" src="https://www.youtube.com/embed/{{ video.youtube_id }}" allowfullscreen frameborder='0'></iframe>
                    </div>
                    <div class="video-caption"> {{ video.title }} </div>
                    <p class="video-description"> {{ video.description }} </p>
                </div>
          {% endfor%}
        </div>
    </div>

    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                          <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var pswpElement = document.querySelectorAll('.pswp')[0];

        var items = [
            {% for i in images %}
                {% if forloop.counter != 1 %}
                ,
                {%endif%}{
                    src: "{{ MEDIA_URL }}{{ i.image_file.url }}",
                    w:{{ i.image_file.width }},
                    h:{{ i.image_file.height }},
                    title: "{{ i.description }}"
                }
            {% endfor%}
        ];

        var options = {
            index: 0,// start at first slide
            showAnimationDuration: 0,
            bgOpacity: 0.95
        };

        function openPhotoSwipeIndex(ind){
            options.index = ind;
            var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
            gallery.init();
        }

    </script>

    <script>
        var navBar = document.getElementById("navBar");
        var navMobile = document.getElementById('navBarMobile');
        var homeNav = document.getElementById("homeNav");
        var ham = document.getElementById('hamburgerButton');
        var navDisplay = false;     //whether or not nav menu is displayed on mobile
        var navSets = document.getElementsByClassName("navLinkSet");


        toggleNavMobile(false);
        if(document.documentElement.clientWidth >= 760){
            navSets[0].style.flex = "4 0 0";
            navSets[1].style.flex = "1 0 0";
            navSets[2].style.flex = "4 0 0";
            navBar.style.top = "0";
        }
        else{
            navSets[0].style.flex =  "1 0 100%";
            navSets[1].style.flex =  "1 0 100%";
            navSets[2].style.flex =  "1 0 100%";
        }


        window.onresize = function(){
            toggleNavMobile(false);
            if(document.documentElement.clientWidth >= 760){
                navSets[0].style.flex = "4 0 0";
                navSets[1].style.flex = "1 0 0";
                navSets[2].style.flex = "4 0 0";
                navBar.style.top = "0";
            }
            else{
                navSets[0].style.flex =  "1 0 100%";
                navSets[1].style.flex =  "1 0 100%";
                navSets[2].style.flex =  "1 0 100%";
            }
        };

        window.onload = function(){
            toggleNavMobile(false);
            if(document.documentElement.clientWidth >= 760){
                navSets[0].style.flex = "4 0 0";
                navSets[1].style.flex = "1 0 0";
                navSets[2].style.flex = "4 0 0";
                navBar.style.top = "0";
            }
            else{
                navSets[0].style.flex =  "1 0 100%";
                navSets[1].style.flex =  "1 0 100%";
                navSets[2].style.flex =  "1 0 100%";
            }
        };

        function toggleNavMobile(disp){         //shows nav menu for mobile if argument is true, otherwise hides

            if(!disp){
                navMobile.style.borderBottom = "#ffee9c solid 1px";
                navBar.style.top = "-280px";
                ham.classList.remove('is-active');
                homeNav.style.opacity= "0";
            }
            else{
                navMobile.style.borderBottom = "#000000 solid 1px";
                navBar.style.top = "44px";
                ham.classList.add('is-active');
                homeNav.style.opacity= "1";
            }
            navDisplay = !navDisplay;
        }

        ham.addEventListener("click", function() {
            toggleNavMobile(!navDisplay);
            }, true);

    </script>
{% endblock %}
