{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/hamburger.css'%}">
    <link rel="icon" href="{%static 'img/logo-gold.gif'%}">

    <title>Campus Ambassador Registration | Pravega 2019, IISc Bangalore</title>
    <link href="https://fonts.googleapis.com/css?family=Overlock+SC|Raleway:300,400|Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/reg.css'%}">
    <link rel="stylesheet" href="{%static 'css/campusAmbassador_reg.css'%}">
{% endblock %}

{% block content %}
    <div id="main-data">
        <div class="heading">The Campus Ambassador Program</div>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </div>
    <div id="main">
        <div class="heading">Campus Ambassador Registration</div>
        {% if isOpen %}
            {% if user.is_authenticated %}
              <p>Hi {{ user }}!</p>
              {% if form.errors %}
                  <div class="errors">
                      <p>Please fix the following errors</p>
                      <ul>
                          {% for field in form %}
                              {% if field.errors %}
                                  {% for error in field.errors %}
                                      <li>{{ error|escape }}</li>
                                  {% endfor %}
                              {% endif %}
                          {% endfor %}
                      </ul>
                      {% if form.non_field_errors %}
                          {{ form.non_field_errors }}
                      {% endif %}
                  </div>
              {% endif %}
              {% if messages %}
                  <div class="messages">
                      <ul>
                      {% for message in messages %}
                          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                      {% endfor %}
                      </ul>
                  </div>
              {% endif %}
             
                {% if isSubmit %}
                    <p>You are already Registered as a Campus Ambassador</p>
                {% else %}
                  <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="field-space">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="messages">
                        <p style="margin-bottom:14px;">Important:</p>
                        <ul>
                            <li>You have two options, 'save' and 'submit'.</li>
                            <li>If you click save, you will be able to edit the form until you click submit or until the registration closes, WHICHEVER COMES FIRST.</li>
                            <li>Once you click submit, YOU WILL NOT BE ABLE TO EDIT THE FORM.</li>
                        </ul>
                    </div>
                    <div class="buttonCollection">
                        <button type="submit" name="save" value="save">Save</button>
                        <button type="submit" name="submit" value="submit">Submit</button>
                    </div>
                  </form>
                 {% endif %}
            {% else %}
                <div>
                    <ul>
                        <li>You have to log in to register as a Campus Ambassador.</li>
                    </ul>
                </div>
                <div class="buttonCollection">
                    <a href="{% url 'login' %}"><div class="divButton">Log In</div></a>
                    <a href="{% url 'signup' %}"><div class="divButton">Sign Up</div></a>
                </div>
            {% endif %}
        {% else %}
            <p>The Campus Ambassador Registration Portal is closed.</p>
        {% endif %}
    </div>

    <script src="{%static 'js/navBar.js'%}"> </script>
{% endblock %}
