{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}
{% load index %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/hamburger.css'%}">
    <link rel="icon" href="{%static 'img/logo-gold.gif'%}">

    <title>Cryptothlon Prelims | Pravega 2019, IISc Bangalore</title>
    <link href="https://fonts.googleapis.com/css?family=Overlock+SC|Raleway:300,400|Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/reg.css'%}">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <style>
        form *{
            font-family: 'Lato';
        }
        #time{
            text-align: center;
        }
        #timeF{
            padding: 8px;
            font-size: 14px;
            font-family: 'Titillium Web', sans-serif;
            position: fixed;
            right:0;
            top: 60px;
            background-color: rgba(20,20,20,0.7);
            border-radius: 4px;
            border: 1px solid rgba(255,255,240,0.3);
        }
        #problemPDF{
          animation: bubbl 1s infinite;
          border: 2px solid white;
        }
        @keyframes bubbl{
          0%{
            border: 2px solid white;
          }
          50%{
            border: 2px solid black;
            text-shadow: 0.5px 0.5px 0.5px black;
          }
          100%{
            border: 2px solid white;
          }
        }
        @media(min-width:760px){
            #timeF{
                padding: 14px;
                font-size: 24px;
                top: 200px;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div id="main">
        <div class="heading">Cryptothlon Prelims</div>
        {% if user.is_authenticated %}
          <p>Hi {{ user }}!</p>

          {% if form.errors %}
              <div class="errors">
                  <p>Please fix the following errors</p>
                  <ul>
                      {% for field in form %}
                          {% if field.errors %}
                              {% for error in field.errors %}
                                  <li>{{ error|escape }}</li>
                              {% endfor %}
                          {% endif %}
                      {% endfor %}
                  </ul>
                  {% if form.non_field_errors %}
                      {{ form.non_field_errors }}
                  {% endif %}
              </div>
          {% endif %}
          {% if messages %}
              <div class="messages">
                  <ul>
                  {% for message in messages %}
                      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
                  </ul>
              </div>
          {% endif %}
          <p>View the details of this event <a href="{% url 'cryptothlon'%}">here</a>.</p>
          {% if examStarted and not examEnded %}
          <div style="text-align:center;">
            <p style="margin-bottom:14px;">Download the Cryptothlon Prelims problem here:</p>
            <a id="problemPDF" target="_blank" href="{{pdfLink}}" style="margin:8px auto; font-size:18px;padding: 8px 14px; color:rgb(8,8,8); background-color:rgb(255,255,240);border-radius:4px;">Download PDF</a>

          </div>
          <div class="messages">
              <p style="margin-bottom:14px;">Important:</p>
              <ul>
                  <li>You are supposed to attempt the Cryptothlon Prelims ONLY FROM ONE DEVICE AT A TIME.</li>
                  <li>At {{endTime}}, the form will try to save itself from all devices. This means that if you have the portal open in two different devices, the responses from one will overwrite the other, depending on the speed of your connections. </li>
                  <li>At {{endTime}}, if the form doesn't submit itself, you are supposed to manually submit it.</li>
                  <li>Do not try to upload the answers to the subjective questions at the last moment.</li>
              </ul>
          </div>
          <p style="font-family: 'Titillium Web', sans-serif;">Duration:  {{startTime}} to {{endTime}}. </p>

                      <form id="cryptothlonForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}

                            <div class="field-space">
                                {{ field.errors }}
                                {{ field.label_tag|safe }}
                                {{ field }}

                            </div>
                        {% endfor %}
                        <div class="messages">
                            <p style="margin-bottom:14px;">Important:</p>
                            <ul>
                                <li>You have two options, 'save' and 'submit'.</li>
                                <li>If you click save, you will be able to edit the form until you click submit or until the portal closes, WHICHEVER COMES FIRST.</li>
                                <li>Once you click submit, YOU WILL NOT BE ABLE TO EDIT THE FORM.</li>
                            </ul>
                        </div>
                        <div class="buttonCollection">
                            <button id="saveButton" type="submit" name="save" value="save">Save</button>
                            <button type="submit" name="submit" value="submit">Submit</button>
                        </div>
                      </form>
                      <script>

                          function clearRadio(element){
                              parentId = element.parentElement;
                              parentId.querySelector('li').checked = true;
                              console.log(parentId.querySelector("input[type='radio']").innerHTML + " cleared");
                          }
                      </script>
                      <script>
                                function startTimer(duration, display) {
                              var timer = duration;
                              interval=setInterval(function () {

                                  seconds = parseInt(timer % 60, 10);
                                  minutes = parseInt(((timer % 3600)-seconds)/60, 10);
                                  hours=parseInt(timer/3600,10);

                                  minutes = minutes < 10 ? "0" + minutes : minutes;
                                  seconds = seconds < 10 ? "0" + seconds : seconds;
                                  hours = hours < 10 ? "0" + hours : hours;
                                  display.textContent = hours+":"+minutes + ":" + seconds;

                                  if (--timer < 0) {
                                      clearInterval(interval);

                                      alert("Time Up! Submit your responses immediately to retain them.");
                                      document.getElementById("saveButton").click();
                                      setTimeout(function(){
                                          document.getElementById("saveButton").click();
                                      }, 600000);
                                  }
                              }, 1000);
                          }
                          $( document ).ready(function() {
                              var date1=new Date({{dateBegin| safe}});
                              var date2=new Date({{dateEnd| safe}});

                              $.ajax({
                                  url: "{% url 'servertime' %}",
                                  dataType: 'json',
                                  success: function (data) {
                                    var date=new Date(data.serverTime);
                                    var duration = (date2.getTime()-date.getTime())/1000;
                                    display = document.querySelector('#time');
                                    startTimer(duration, display);
                                  }
                                });
                            });
                      </script>
                      <div id="timeF">
                            <div id="time">Timer</div>
                      </div>

          {% elif examEnded %}
            <p>The Cryptothlon Online Prelims is over.</p>
          {% else %}
            <p>The Cryptothlon Prelims has not started. Please reload the page at {{startTime}} to participate.</p>
            <script>
                      function startTimer(duration, display) {
                    var timer = duration;
                    interval=setInterval(function () {

                        seconds = parseInt(timer % 60, 10);
                        minutes = parseInt(((timer % 3600)-seconds)/60, 10);
                        hours=parseInt(timer/3600,10);

                        minutes = minutes < 10 ? "0" + minutes : minutes;
                        seconds = seconds < 10 ? "0" + seconds : seconds;
                        hours = hours < 10 ? "0" + hours : hours;
                        display.textContent = hours+":"+minutes + ":" + seconds;
                        if (--timer < 0) {
                            clearInterval(interval);
                            location.reload(true);
                            setTimeout(function(){
                                location.reload(true);
                            }, 60000);
                        }
                    }, 1000);
                }
                $( document ).ready(function() {
                    var date1=new Date({{dateBegin| safe}});
                    var date2=new Date({{dateEnd| safe}});

                    $.ajax({
                        url: "{% url 'servertime' %}",
                        dataType: 'json',
                        success: function (data) {
                          var date=new Date(data.serverTime);
                          var duration = (date1.getTime()-date.getTime())/1000;
                          display = document.querySelector('#time');
                          startTimer(duration, display);
                        }
                      });
                  });
            </script>
            <div id="timeF">
                    <p>Prelims Starts in:</p>
                  <div id="time">Timer</div>
            </div>
          {% endif %}
        {% else %}
            <p>You have to log in to participate in the Cryptothlon Prelims</p><br>
            Have an account? <a href="{% url 'login' %}">Click here to Log in</a><br>
            Don't have an account? <a href="{% url 'signup' %}">Click here to sign up</a><br>

        {% endif %}


    </div>

    <script src="{%static 'js/navBar.js'%}"> </script>
{% endblock %}

{% block postfooter%}

{% endblock %}
