{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/hamburger.css'%}">
    <link rel="icon" href="{%static 'img/logo-gold.gif'%}">

    <title>Cryptothlon Prelims Submitted | Pravega 2019, IISc Bangalore</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Overlock+SC|Raleway:300,400|Dosis:300,400,700,800|Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/reg.css'%}">
{% endblock %}

{% block content %}
    <div id="main">
        <div class="heading">Already Submitted Responses</div>
        <p>You have already submitted you Cryptothlon Prelims Responses.</p>
        <p> Check out our events on the <a href="{% url 'events'%}"> events </a> page.</p>
        <p> Go to the <a href="{% url 'registration'%}"> registrations </a> page to register to our other events.</p>
    </div>

    <script src="{%static 'js/navBar.js'%}"> </script>
{% endblock %}
