{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/hamburger.css'%}">
    <link rel="icon" href="{%static 'img/logo-gold.gif'%}">

    <title>Reset Password | Pravega 2019, IISc Bangalore</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Overlock+SC|Raleway:300,400|Dosis:300,400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/reg.css'%}">
{% endblock %}

{% block content %}
    <div id="main">
        <div class="heading">Forgot Password?</div>
        {% if form.errors %}
            <div class="errors">
                <h4>Please fix the following errors</h4>
                <ul>
                    {% for field in form %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
                {% if form.non_field_errors %}
                    {{ form.non_field_errors }}
                {% endif %}
            </div>
        {% endif %}
        {% if messages %}
            <div class="messages">
                <ul>
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if user.is_authenticated %}
          <p>Hi {{ user.username }}! You don't seem like you have forgotten your password. You are logged in.
          Would you like to <a href="{% url 'password_change' %}">change your password</a> anyway?</p>
        {% else %}
            <p>Enter your registered email address below, and we'll email instructions for setting a new one.</p>

            <form method="POST">
              {% csrf_token %}
              {% for field in form %}
                  <div class="field-space">
                      {% if field.errors %}
                          <div class="errors">
                              <ul>
                                  {% for error in field.errors %}
                                      <li>{{ error|escape }}</li>
                                  {% endfor %}
                              </ul>
                          </div>
                      {% endif %}
                      {{ field.label_tag }}
                      {{ field }}
                  </div>
              {% endfor %}
              <button type="submit">Send me instructions!</button>
            </form>
        {% endif %}


    </div>

    <script src="{%static 'js/navBar.js'%}"> </script>
{% endblock %}
