{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/hamburger.css'%}">
    <link rel="icon" href="{%static 'img/logo-gold.gif'%}">

    <title>Reset Password | Pravega 2019, IISc Bangalore</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Overlock+SC|Raleway:300,400|Dosis:300,400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/comingsoon.css'%}">
{% endblock %}

{% block content %}
    <div id="main">
        <h2>Forgot your password?</h2>

        {% if user.is_authenticated %}
          Hi {{ user.username }}! You don't seem like you have forgotten your password. You are logged in.
          Would you like to <a href="{% url 'password_change' %}">change your password</a> anyway?
        {% else %}
            <p>Enter your registered email address below, and we'll email instructions for setting a new one.</p>

            <form method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" value="Send me instructions!">
            </form>
        {% endif %}


    </div>

    <script src="{%static 'js/navBar.js'%}"> </script>
{% endblock %}
