{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/hamburger.css'%}">
    <link rel="icon" href="{%static 'img/logo-gold.gif'%}">

    <title> Password Reset Confirmation | Pravega 2019, IISc Bangalore</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Overlock+SC|Raleway:300,400|Dosis:300,400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/comingsoon.css'%}">
{% endblock %}

{% block content %}
    <div id="main">
        <h2> Password Reset Confirmation </h2>
        <p>Please enter your new password twice for confirmation.</p>
        <form method="post">{% csrf_token %}
            <div class="form-row field-password1">
                {{ form.new_password1.errors }}
                <label for="id_new_password1">New password:</label>
                {{ form.new_password1 }}
            </div>
            <div class="form-row field-password2">
                {{ form.new_password2.errors }}
                <label for="id_new_password2">Confirm password</label>
                {{ form.new_password2 }}
            </div>
            <input type="submit" value="Change my password" />
        </form>
    </div>

    <script src="{%static 'js/navBar.js'%}"> </script>
{% endblock %}
