{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}
{% load index %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/hamburger.css'%}">
    <link rel="icon" href="{%static 'img/logo-gold.gif'%}">

    <title>Registration | Pravega 2019, IISc Bangalore</title>
    <link href="https://fonts.googleapis.com/css?family=Overlock+SC|Raleway:300,400|Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/comingsoon.css'%}">
    <link rel="stylesheet" href="{%static 'css/reg_index.css'%}">
    <style>
            .event-area-highlighted{
                background-color: rgba(12,12,12,0.9);
                border: 1px solid rgba(255,255,240);
                transition: transform 0.2s;
                animation-name: eventHighlight;
                animation-duration: 0.8s;
                animation-iteration-count: infinite;
            }
            @keyframes eventHighlight {
                0%{
                    transform: scale(1,1);
                }
                50%{
                    transform: scale(1.01,1.01);
                }
                100%{
                    transform: scale(1,1);
                }

            }
    </style>
{% endblock %}

{% block content %}
    <div id="main">
        <!--
            Add list of registered events

        -->
        <div class="event-area">
            <div class="heading">Pravega Registrations</div>
            {% if user.is_authenticated %}
              <p class="center"> You are logged in as {{ user }}!</p>
              <div class="buttonCollection">
                  <a href="{% url 'logout' %}"><div class="divButton">Log Out</div></a>
                  <a href="{% url 'password_change' %}"><div class="divButton">Change Password</div></a>
              </div>
              {{ registeredEventsString|safe }}
            {% else %}
                <p class="center">Please Log In to Register to the Events of Pravega.</p>
                <div class="buttonCollection">
                    <a href="{% url 'login' %}"><div class="divButton">Log In</div></a>
                    <a href="{% url 'signup' %}"><div class="divButton">Sign Up</div></a>
                </div>
                <p class="center"><a href="{% url 'password_reset' %}">Forgot Password? Click here.</a></p>
            {% endif %}
            {% if messages %}
                <div class="messages">
                    <ul>
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="event-area">
            <div class="event-title">Workshops</div>
            <div class="event-description">Register for our workshops on TheCollegeFever</div>
            <div class="event-essentials">
                <a href="https://www.thecollegefever.com/events/pravega-l8NBBp3vRK"><div class="green-status"> &#10004; Register Now</div></a>
            </div>
        </div>
        {%if iow_isactive %}
            <div class="event-area">
                <div class="event-title">In Other Words</div>
                <div class="event-description">In Other Words is a Weekly Online Linguistics Quiz. Questions are posted every Saturday. Submit your responses to climb the leaderboard and win Official Pravega Merchandise.</div>
                <div class="event-essentials">
                    <a href="{% url 'inotherwords' %}"><div class="green-status"> &#10004; Participate Now</div></a>
                </div>
            </div>
        {% endif %}
        {% if campusAmbassadorEvent.registrationStatus == 'opened' %}
            <div class="event-area">
                <div class="event-title">{{campusAmbassadorEvent.displayTitle|safe}}</div>
                <div class="event-description">{{campusAmbassadorEvent.description|safe}}</div>
                <div class="event-essentials">
                    <a href="{{campusAmbassadorEvent.registrationLink}}"><div class="green-status"> &#10004; Registrations Open</div></a>
                </div>
            </div>
        {% endif %}
        {% for i in openedEvents %}
            <div class="event-area">
                <div class="event-title">{{i.displayTitle|safe}}</div>
                <div class="event-description">{{i.description|safe}}</div>
                <div class="event-essentials">
                    <a href="{{i.registrationLink}}"><div class="green-status"> &#10004; Registrations Open</div></a>
                </div>
            </div>
        {% endfor %}
        {% for i in notyetEvents %}
            <div class="event-area">
                <div class="event-title">{{i.displayTitle|safe}}</div>
                <div class="event-description">{{i.description|safe}}</div>
                <div class="event-essentials">
                    <div class="orange-status"> &#10146; Registrations Yet to Begin</div>
                </div>
            </div>
        {% endfor %}
        {% for i in closedEvents %}
            <div class="event-area">
                <div class="event-title">{{i.displayTitle|safe}}</div>
                <div class="event-description">{{i.description|safe}}</div>
                <div class="event-essentials">
                    <div class="red-status"> &#10006; Registrations Closed</div>
                </div>
            </div>
        {% endfor %}
        {% if campusAmbassadorEvent.registrationStatus == 'closed' %}
            <div class="event-area">
                <div class="event-title">{{campusAmbassadorEvent.displayTitle|safe}}</div>
                <div class="event-description">{{campusAmbassadorEvent.description|safe}}</div>
                <div class="event-essentials">
                    <div class="red-status"> &#10006; Registrations Closed</div>
                </div>
            </div>
        {% endif %}

    </div>

    <script src="{%static 'js/navBar.js'%}"> </script>
{% endblock %}
