{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}
{% load index %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'css/hamburger.css'%}">
    <link rel="icon" href="{%static 'img/logo-gold.gif'%}">

    <title>Lasya Registration | Pravega 2019, IISc Bangalore</title>
    <link href="https://fonts.googleapis.com/css?family=Overlock+SC|Raleway:300,400|Titillium+Web" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/comingsoon.css'%}">
    <link rel="stylesheet" href="{%static 'css/reg_index.css'%}">
{% endblock %}

{% block content %}
    <div id="main">
        <!--
            Add list of registered events

        -->
        <div class="event-area">
            <div class="heading">Event Registrations</div>
            {% if user.is_authenticated %}
              <p class="center"> You are logged in as {{ user }}!</p>
              <div class="buttonCollection">
                  <a href="{% url 'logout' %}"><div class="divButton">Log Out</div></a>
                  <a href="{% url 'password_change' %}"><div class="divButton">Change Password</div></a>
              </div>
              {{ registeredEventsString|safe }}
            {% else %}
                <p class="center">Please Log In to register to the events of Pravega.</p>
                <div class="buttonCollection">
                    <a href="{% url 'login' %}"><div class="divButton">Log In</div></a>
                    <a href="{% url 'signup' %}"><div class="divButton">Sign Up</div></a>
                </div>
                <p class="center"><a href="{% url 'password_reset' %}">Forgot Password? Click here.</a></p>
            {% endif %}
            {% if messages %}
                <div class="messages">
                    <ul>
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        {% for i in openedEvents %}
            <div class="event-area">
                <div class="event-title">{{i.title}}</div>
                <div class="event-description">{{i.description|safe}}</div>
                <div class="event-essentials">
                    <a href="{{i.registrationLink}}"><div class="green-status"> &#10004; Registrations Open</div></a>
                </div>
            </div>
        {% endfor %}
        {% for i in notyetEvents %}
            <div class="event-area">
                <div class="event-title">{{i.title}}</div>
                <div class="event-description">{{i.description|safe}}</div>
                <div class="event-essentials">
                    <div class="orange-status"> &#10146; Registrations Yet to Begin</div>
                </div>
            </div>
        {% endfor %}
        {% for i in closedEvents %}
            <div class="event-area inactive-event">
                <div class="event-title">{{i.title}}</div>
                <div class="event-description">{{i.description|safe}}</div>
                <div class="event-essentials">
                    <div class="red-status"> &#10006; Registrations Closed</div>
                </div>
            </div>
        {% endfor %}

    </div>

    <script src="{%static 'js/navBar.js'%}"> </script>
{% endblock %}
