
@import url('https://fonts.googleapis.com/css?family=Bellefair|Cinzel|Cormorant+SC|Overlock+SC|Poiret+One');

body {
  margin: 0;
  letter-spacing: 0.5px;

font-family: 'Overlock SC', cursive;
  font-weight: 700;
  color: rgb(225,225,225);
}

#bg{

  background-color: rgb(17,17,17);
  background-image: none;

}


.top-bar-item{

  font-size: 18px;
}

#top-bar{
  background-color:none;
}


.thumbnail-gallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.thumbnail-area{
    margin: 6px;
    padding: 2px;
    width: 200px;
    height: auto;
    transition: all 0.2s;
}
.thumbnail-area:hover{
    box-shadow: 0 0 10px rgba(225,225,225,0.1);;
    background-color: rgba(0,0,0,0.2);
    transform: scale(1.05 , 1.05);
}

.thumbnail-container{
  box-sizing: border-box;
  width: 200px;
  height: 160px;
  margin: 0 auto;
  padding: 4px;
}

.thumbnail{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail-caption{
  color: #AD343E;
  box-sizing: border-box;
  margin: 2px;
  text-indent: 4px;
}


.cursor{
  cursor: pointer;
}


#main{
  margin: 84px 120px;
}